@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;800&display=swap');

/* reset area */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{margin:0;padding:0}
li{list-style: none;}
a{text-decoration: none;color: inherit;}

body, button{font-family: 'Noto Sans KR', sans-serif;font-size: 12px;line-height:1.6;color:#495183}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}

/* design area */
html{scroll-behavior: smooth;}
body{width:100%;text-align: center;background-color:#f1edec;}
.wraper{min-width:850px;width:95%;margin: 0 auto;background-color:#fff}
::selection{background-color: rgb(212, 200, 212);color:#fff}

/* cursor */
.cursor{position: absolute;background: #85d7c8;width:10px;height:10px;border-radius: 50%;z-index: 100;cursor: none}


/* star */
.stars{width:95%;height: 500px;position: absolute;overflow: hidden;z-index: 0;}
#normalstar{width:9px;height: 9px;display: block;background:transparent;border-radius: 50%;box-shadow: 52px 978px #e8e1df, 1785px 1521px #f1edec, 1677px 1988px #f1edec, 348px 916px #f1edec, 1347px 280px #f1edec, 1179px 1851px #f1edec, 1989px 1069px #f1edec, 1583px 1910px #f1edec, 1446px 693px #f1edec, 898px 985px #f1edec;-webkit-animation: animStar 240s linear infinite;animation: animStar 240s linear infinite}
#normalstar::after{content:'';position: absolute;top:2000px;width:5px;border-radius: 50%;background:transparent;box-shadow: 52px 978px #e8e1df, 1785px 1521px #f1edec, 1677px 1988px #f1edec, 348px 916px #f1edec, 1347px 280px #f1edec, 1179px 1851px #f1edec, 1989px 1069px #f1edec, 1583px 1910px #f1edec, 1446px 693px #f1edec, 898px 985px #f1edec}
#star{width:5px;height: 5px;display: block;background:transparent;border-radius: 50%;-webkit-animation: animStar 80s linear infinite;animation: animStar 80s linear infinite;box-shadow: 122px 389px #e8e1df, 891px 83px #f1edec, 1005px 1066px #f1edec, 1256px 43px #f1edec, 1165px 1728px #f1edec, 1189px 1872px #f1edec, 1049px 143px #f1edec, 1534px 1976px #f1edec, 1608px 1479px #f1edec, 618px 434px #f1edec, 315px 423px #f1edec, 1141px 83px #f1edec, 1397px 3px #f1edec, 1668px 1270px #f1edec, 1990px 833px #f1edec, 1430px 577px #f1edec, 832px 1917px #f1edec, 99px 1448px #f1edec, 32px 1325px #f1edec, 980px 805px #f1edec, 20px 828px #f1edec, 1962px 943px #f1edec, 1996px 897px #f1edec, 1874px 1889px #f1edec, 1820px 313px #f1edec, 1255px 1080px #f1edec, 1064px 72px #f1edec, 1816px 1671px #f1edec, 11px 1694px #f1edec, 850px 1348px #f1edec, 219px 906px #f1edec, 703px 523px #f1edec, 96px 521px #f1edec, 470px 1329px #f1edec, 1300px 123px #f1edec, 733px 620px #f1edec, 590px 46px #f1edec, 92px 1003px #f1edec, 948px 1955px #f1edec, 1410px 541px #f1edec, 400px 600px #f1edec, 1624px 1761px #f1edec, 1708px 1777px #f1edec, 640px 1624px #f1edec, 821px 1559px #f1edec, 1268px 888px #f1edec, 1493px 1696px #f1edec, 1726px 1658px #f1edec, 900px 1635px #f1edec, 720px 1463px #f1edec, 598px 1350px #f1edec, 1286px 1705px #f1edec, 364px 1462px #f1edec, 1335px 171px #f1edec, 1170px 1066px #f1edec, 590px 1550px #f1edec, 704px 1539px #f1edec, 1921px 230px #f1edec, 1466px 128px #f1edec, 842px 812px #f1edec, 885px 801px #f1edec, 471px 1220px #f1edec, 1828px 265px #f1edec, 1195px 61px #f1edec, 1563px 81px #f1edec, 1110px 1984px #f1edec, 603px 1370px #f1edec, 426px 1953px #f1edec, 578px 1488px #f1edec, 962px 1362px #f1edec, 512px 1972px #f1edec, 36px 1994px #f1edec, 425px 1515px #f1edec, 1716px 1189px #f1edec, 1401px 1160px #f1edec, 1706px 268px #f1edec, 242px 1534px #f1edec, 1140px 1920px #f1edec, 842px 1521px #f1edec, 283px 1734px #f1edec, 589px 1251px #f1edec, 824px 1148px #f1edec, 1626px 122px #f1edec, 1735px 948px #f1edec, 477px 265px #f1edec, 1534px 1000px #f1edec, 1688px 586px #f1edec, 872px 394px #f1edec, 682px 42px #f1edec, 1734px 623px #f1edec, 1316px 1041px #f1edec, 32px 1653px #f1edec, 1347px 843px #f1edec, 37px 1831px #f1edec, 422px 1895px #f1edec, 945px 1656px #f1edec, 1852px 1894px #f1edec, 1245px 334px #f1edec, 1829px 1400px #f1edec, 807px 1090px #f1edec, 1003px 460px #f1edec, 584px 1582px #f1edec, 669px 546px #f1edec, 1059px 528px #f1edec, 89px 143px #f1edec, 431px 260px #f1edec, 97px 1926px #f1edec, 491px 703px #f1edec, 820px 1827px #f1edec, 1712px 897px #f1edec, 1610px 1439px #f1edec, 1599px 1849px #f1edec, 291px 914px #f1edec, 1394px 1718px #f1edec, 444px 56px #f1edec, 925px 37px #f1edec, 484px 1491px #f1edec, 1881px 1694px #f1edec, 430px 1818px #f1edec, 272px 871px #f1edec, 1982px 484px #f1edec, 632px 1388px #f1edec, 1779px 1911px #f1edec, 1813px 1592px #f1edec, 644px 1598px #f1edec, 27px 1520px #f1edec, 1066px 1925px #f1edec, 1264px 1320px #f1edec, 36px 1449px #f1edec, 1712px 1815px #f1edec, 256px 1164px #f1edec, 728px 143px #f1edec, 637px 788px #f1edec, 703px 1696px #f1edec, 808px 1506px #f1edec, 1952px 66px #f1edec, 1686px 984px #f1edec, 630px 389px #f1edec, 3px 905px #f1edec, 1563px 110px #f1edec, 1017px 930px #f1edec, 1863px 468px #f1edec, 1475px 436px #f1edec, 1127px 1597px #f1edec, 394px 386px #f1edec, 1198px 490px #f1edec, 1222px 1499px #f1edec, 1522px 266px #f1edec, 1073px 1781px #f1edec, 1293px 1387px #f1edec, 849px 1341px #f1edec, 1435px 1600px #f1edec, 286px 1578px #f1edec, 569px 1968px #f1edec, 779px 1127px #f1edec, 1669px 1335px #f1edec, 575px 1263px #f1edec, 1536px 1166px #f1edec, 1033px 1487px #f1edec, 1165px 704px #f1edec, 834px 1310px #f1edec, 741px 1908px #f1edec, 441px 878px #f1edec, 1199px 147px #f1edec, 1492px 104px #f1edec, 55px 583px #f1edec, 1830px 1259px #f1edec, 1705px 1444px #f1edec, 790px 1719px #f1edec, 776px 1357px #f1edec, 1873px 1460px #f1edec, 1015px 1649px #f1edec, 1126px 1789px #f1edec, 1986px 1680px #f1edec, 1946px 677px #f1edec, 1977px 1351px #f1edec, 803px 1156px #f1edec, 668px 1397px #f1edec, 999px 609px #f1edec, 853px 1241px #f1edec, 224px 329px #f1edec, 1950px 385px #f1edec, 1803px 1020px #f1edec, 277px 1201px #f1edec, 428px 1782px #f1edec, 746px 764px #f1edec, 406px 764px #f1edec, 37px 105px #f1edec, 169px 1102px #f1edec, 557px 251px #f1edec, 1517px 490px #f1edec, 1468px 788px #f1edec, 173px 358px #f1edec, 484px 800px #f1edec, 1216px 409px #f1edec, 1635px 1940px #f1edec, 1514px 1066px #f1edec, 371px 1658px #f1edec, 1520px 82px #f1edec, 692px 370px #f1edec, 569px 541px #f1edec, 1759px 795px #f1edec, 1919px 699px #f1edec, 1271px 1328px #f1edec, 1682px 857px #f1edec, 1478px 1217px #f1edec, 282px 1548px #f1edec, 163px 1248px #f1edec, 1478px 272px #f1edec, 87px 1878px #f1edec, 1049px 1048px #f1edec, 403px 1193px #f1edec, 589px 1178px #f1edec, 1887px 1984px #f1edec, 1763px 734px #f1edec, 1028px 1743px #f1edec, 1663px 1145px #f1edec, 380px 1867px #f1edec, 839px 1817px #f1edec, 1370px 1766px #f1edec, 495px 627px #f1edec, 477px 421px #f1edec, 1374px 43px #f1edec, 133px 351px #f1edec, 1167px 589px #f1edec, 77px 1894px #f1edec, 977px 1102px #f1edec, 745px 143px #f1edec, 460px 175px #f1edec, 775px 1177px #f1edec, 304px 1302px #f1edec, 284px 19px #f1edec, 1546px 1422px #f1edec, 1355px 1980px #f1edec, 387px 1279px #f1edec, 1077px 1550px #f1edec, 1696px 185px #f1edec, 1958px 1393px #f1edec, 71px 1751px #f1edec, 4px 1016px #f1edec, 997px 1204px #f1edec, 762px 441px #f1edec, 1766px 1091px #f1edec, 200px 1578px #f1edec, 675px 1455px #f1edec, 367px 1899px #f1edec, 1172px 1398px #f1edec, 1858px 1149px #f1edec, 709px 595px #f1edec, 1304px 1996px #f1edec, 970px 798px #f1edec, 1342px 1587px #f1edec, 1578px 11px #f1edec, 701px 1490px #f1edec, 1795px 302px #f1edec, 1035px 959px #f1edec, 443px 32px #f1edec, 1027px 308px #f1edec, 1736px 634px #f1edec, 1152px 940px #f1edec, 18px 1957px #f1edec, 1289px 1727px #f1edec, 1235px 1799px #f1edec, 848px 657px #f1edec, 1718px 1909px #f1edec, 1787px 1689px #f1edec, 1533px 828px #f1edec, 429px 1282px #f1edec, 1675px 1543px #f1edec, 1061px 1186px #f1edec, 1412px 604px #f1edec, 1644px 1967px #f1edec, 1124px 942px #f1edec, 736px 764px #f1edec, 78px 263px #f1edec, 1352px 1462px #f1edec, 1465px 676px #f1edec, 49px 602px #f1edec, 178px 1997px #f1edec, 869px 1501px #f1edec, 1245px 1831px #f1edec, 574px 44px #f1edec, 789px 1130px #f1edec, 1260px 1459px #f1edec, 1531px 1984px #f1edec, 781px 1294px #f1edec, 748px 854px #f1edec, 132px 1807px #f1edec, 1019px 752px #f1edec, 864px 1281px #f1edec, 1054px 936px #f1edec, 1866px 715px #f1edec, 1053px 644px #f1edec, 721px 94px #f1edec, 875px 1059px #f1edec, 1370px 333px #f1edec, 523px 823px #f1edec, 1799px 1762px #f1edec, 1145px 795px #f1edec, 480px 1192px #f1edec, 1346px 1196px #f1edec, 384px 534px #f1edec, 391px 920px #f1edec, 1360px 1005px #f1edec, 1556px 1327px #f1edec, 1024px 405px #f1edec, 1802px 1330px #f1edec, 66px 633px #f1edec, 77px 1091px #f1edec, 1001px 214px #f1edec, 541px 57px #f1edec, 132px 1186px #f1edec, 840px 319px #f1edec, 978px 606px #f1edec, 599px 1546px #f1edec, 774px 1432px #f1edec, 1534px 1774px #f1edec, 322px 1940px #f1edec, 1557px 620px #f1edec, 1409px 731px #f1edec, 7px 581px #f1edec, 1659px 367px #f1edec, 684px 211px #f1edec, 368px 1512px #f1edec, 356px 836px #f1edec, 911px 492px #f1edec, 1936px 1541px #f1edec, 1762px 827px #f1edec, 941px 269px #f1edec, 391px 570px #f1edec, 1387px 1110px #f1edec, 1444px 1181px #f1edec, 771px 1311px #f1edec, 1255px 1313px #f1edec, 1019px 118px #f1edec, 304px 610px #f1edec, 746px 1684px #f1edec, 1933px 1264px #f1edec, 939px 966px #f1edec, 538px 1913px #f1edec, 1165px 887px #f1edec, 1873px 876px #f1edec, 781px 1325px #f1edec, 793px 937px #f1edec, 1723px 291px #f1edec, 588px 926px #f1edec, 120px 594px #f1edec, 479px 1123px #f1edec, 867px 124px #f1edec, 1220px 1756px #f1edec, 819px 587px #f1edec, 159px 1584px #f1edec, 268px 407px #f1edec, 1909px 1802px #f1edec, 790px 1298px #f1edec, 1407px 1766px #f1edec, 1635px 77px #f1edec, 1801px 252px #f1edec, 1397px 1715px #f1edec, 1100px 792px #f1edec, 632px 1247px #f1edec, 476px 1160px #f1edec, 198px 1316px #f1edec, 666px 590px #f1edec, 171px 1796px #f1edec, 968px 649px #f1edec, 641px 809px #f1edec, 1925px 1518px #f1edec, 1306px 1646px #f1edec, 612px 1823px #f1edec, 928px 598px #f1edec, 28px 311px #f1edec, 808px 1292px #f1edec, 1358px 85px #f1edec, 1651px 809px #f1edec, 1053px 884px #f1edec, 1289px 1392px #f1edec, 745px 333px #f1edec, 822px 155px #f1edec, 1595px 382px #f1edec, 229px 308px #f1edec, 761px 46px #f1edec, 1820px 387px #f1edec, 1330px 1635px #f1edec, 605px 1754px #f1edec, 1104px 1170px #f1edec, 1600px 1314px #f1edec, 1766px 1924px #f1edec, 859px 2000px #f1edec, 47px 502px #f1edec, 1178px 218px #f1edec, 386px 664px #f1edec, 254px 875px #f1edec, 322px 641px #f1edec, 1608px 1578px #f1edec, 631px 416px #f1edec, 38px 1485px #f1edec, 999px 1390px #f1edec, 1957px 378px #f1edec, 1983px 885px #f1edec, 1098px 222px #f1edec, 1367px 124px #f1edec, 1370px 773px #f1edec, 169px 1131px #f1edec, 983px 973px #f1edec, 258px 547px #f1edec, 1540px 35px #f1edec, 1582px 1301px #f1edec, 93px 1625px #f1edec, 567px 503px #f1edec, 1523px 1102px #f1edec, 1992px 394px #f1edec, 579px 669px #f1edec, 1466px 537px #f1edec, 1202px 1353px #f1edec, 67px 1018px #f1edec, 201px 1107px #f1edec, 240px 631px #f1edec, 1557px 239px #f1edec, 1535px 574px #f1edec, 1551px 965px #f1edec, 1877px 1387px #f1edec, 1536px 1082px #f1edec, 1796px 1012px #f1edec, 1686px 142px #f1edec, 1567px 937px #f1edec, 280px 1775px #f1edec, 170px 1838px #f1edec, 59px 700px #f1edec, 909px 670px #f1edec, 1919px 623px #f1edec, 564px 1046px #f1edec, 837px 1430px #f1edec, 1997px 1769px #f1edec, 475px 430px #f1edec, 1563px 311px #f1edec, 256px 1054px #f1edec, 1440px 1644px #f1edec, 1957px 1917px #f1edec, 740px 1238px #f1edec, 378px 1655px #f1edec, 1112px 1396px #f1edec, 500px 785px #f1edec, 805px 379px #f1edec, 495px 1105px #f1edec, 882px 1448px #f1edec, 332px 1057px #f1edec, 614px 102px #f1edec, 192px 436px #f1edec, 1215px 1164px #f1edec, 378px 1388px #f1edec, 426px 545px #f1edec, 114px 1488px #f1edec, 791px 428px #f1edec, 706px 677px #f1edec, 862px 355px #f1edec, 1045px 1060px #f1edec, 1364px 964px #f1edec, 1204px 202px #f1edec, 1073px 1759px #f1edec, 346px 1178px #f1edec, 972px 525px #f1edec, 319px 1208px #f1edec, 1535px 1603px #f1edec, 1185px 1129px #f1edec, 1282px 265px #f1edec, 152px 1010px #f1edec, 660px 1871px #f1edec, 266px 1199px #f1edec, 367px 1083px #f1edec, 335px 1976px #f1edec, 1833px 924px #f1edec, 1026px 340px #f1edec, 220px 28px #f1edec, 330px 101px #f1edec, 177px 598px #f1edec, 1699px 1883px #f1edec, 1169px 666px #f1edec, 1471px 92px #f1edec, 369px 1220px #f1edec, 1464px 31px #f1edec, 944px 1339px #f1edec, 129px 57px #f1edec, 711px 1563px #f1edec, 734px 1295px #f1edec, 376px 150px #f1edec, 97px 1745px #f1edec, 1940px 939px #f1edec, 7px 1495px #f1edec, 310px 267px #f1edec, 1252px 1719px #f1edec, 1478px 1293px #f1edec, 1894px 286px #f1edec, 906px 1745px #f1edec, 474px 1591px #f1edec, 495px 1876px #f1edec, 802px 1684px #f1edec, 162px 1667px #f1edec, 344px 551px #f1edec, 990px 1571px #f1edec, 1003px 1715px #f1edec, 1259px 874px #f1edec, 1115px 571px #f1edec, 1597px 999px #f1edec, 1772px 1280px #f1edec, 1035px 1529px #f1edec, 792px 238px #f1edec, 1701px 769px #f1edec, 665px 993px #f1edec, 457px 772px #f1edec, 597px 1550px #f1edec, 408px 59px #f1edec, 1086px 1672px #f1edec, 545px 1704px #f1edec, 956px 1314px #f1edec, 1809px 1154px #f1edec, 1972px 769px #f1edec, 1841px 501px #f1edec, 1479px 395px #f1edec, 1880px 1827px #f1edec, 808px 1708px #f1edec, 1714px 1166px #f1edec, 1765px 1139px #f1edec, 533px 115px #f1edec, 590px 1903px #f1edec, 384px 1311px #f1edec, 1389px 1702px #f1edec, 1774px 1322px #f1edec, 1615px 1820px #f1edec, 44px 420px #f1edec, 349px 992px #f1edec, 1913px 1576px #f1edec, 1121px 1669px #f1edec, 1340px 1327px #f1edec, 1648px 1236px #f1edec, 240px 1917px #f1edec, 1260px 1672px #f1edec, 604px 1192px #f1edec, 162px 1579px #f1edec, 1164px 1652px #f1edec, 1235px 1509px #f1edec, 161px 100px #f1edec, 1645px 1587px #f1edec, 1757px 57px #f1edec, 405px 1055px #f1edec, 343px 442px #f1edec, 651px 930px #f1edec, 1923px 1957px #f1edec, 1164px 753px #f1edec, 795px 252px #f1edec, 1013px 923px #f1edec, 1835px 387px #f1edec, 1574px 1122px #f1edec, 1465px 1052px #f1edec, 1658px 1044px #f1edec, 990px 1708px #f1edec, 847px 433px #f1edec, 1966px 743px #f1edec, 1331px 817px #f1edec, 367px 988px #f1edec, 561px 1560px #f1edec, 6px 604px #f1edec, 247px 1051px #f1edec, 649px 1782px #f1edec, 1059px 1545px #f1edec, 1240px 800px #f1edec, 1035px 1933px #f1edec, 1005px 841px #f1edec, 1135px 1445px #f1edec, 1091px 1815px #f1edec, 423px 1198px #f1edec, 567px 1768px #f1edec, 1147px 238px #f1edec, 156px 126px #f1edec, 1082px 641px #f1edec, 522px 600px #f1edec, 187px 735px #f1edec, 1727px 237px #f1edec, 1546px 31px #f1edec, 1447px 182px #f1edec, 1906px 1300px #f1edec, 1313px 1220px #f1edec, 1365px 560px #f1edec, 1821px 1424px #f1edec, 678px 459px #f1edec, 1017px 1948px #f1edec, 2000px 1178px #f1edec, 601px 1368px #f1edec, 1720px 514px #f1edec, 156px 579px #f1edec, 527px 1994px #f1edec, 1540px 1719px #f1edec, 287px 1746px #f1edec, 1999px 704px #f1edec, 822px 179px #f1edec, 171px 1747px #f1edec, 725px 250px #f1edec, 149px 1486px #f1edec, 883px 1769px #f1edec, 1959px 1244px #f1edec;;}
#star::after{content: '';position: absolute;top:2000px;width:1px;height: 1px;background:transparent;border-radius: 50%;box-shadow: 122px 389px #c00, 891px 83px #e8e1df, 1005px 1066px #e8e1df, 1256px 43px #e8e1df, 1165px 1728px #e8e1df, 1189px 1872px #e8e1df, 1049px 143px #e8e1df, 1534px 1976px #e8e1df, 1608px 1479px #e8e1df, 618px 434px #e8e1df, 315px 423px #e8e1df, 1141px 83px #e8e1df, 1397px 3px #e8e1df, 1668px 1270px #e8e1df, 1990px 833px #e8e1df, 1430px 577px #e8e1df, 832px 1917px #e8e1df, 99px 1448px #e8e1df, 32px 1325px #e8e1df, 980px 805px #e8e1df, 20px 828px #e8e1df, 1962px 943px #e8e1df, 1996px 897px #e8e1df, 1874px 1889px #e8e1df, 1820px 313px #e8e1df, 1255px 1080px #e8e1df, 1064px 72px #e8e1df, 1816px 1671px #e8e1df, 11px 1694px #e8e1df, 850px 1348px #e8e1df, 219px 906px #e8e1df, 703px 523px #e8e1df, 96px 521px #e8e1df, 470px 1329px #e8e1df, 1300px 123px #e8e1df, 733px 620px #e8e1df, 590px 46px #e8e1df, 92px 1003px #e8e1df, 948px 1955px #e8e1df, 1410px 541px #e8e1df, 400px 600px #e8e1df, 1624px 1761px #e8e1df, 1708px 1777px #e8e1df, 640px 1624px #e8e1df, 821px 1559px #e8e1df, 1268px 888px #e8e1df, 1493px 1696px #e8e1df, 1726px 1658px #e8e1df, 900px 1635px #e8e1df, 720px 1463px #e8e1df, 598px 1350px #e8e1df, 1286px 1705px #e8e1df, 364px 1462px #e8e1df, 1335px 171px #e8e1df, 1170px 1066px #e8e1df, 590px 1550px #e8e1df, 704px 1539px #e8e1df, 1921px 230px #e8e1df, 1466px 128px #e8e1df, 842px 812px #e8e1df, 885px 801px #e8e1df, 471px 1220px #e8e1df, 1828px 265px #e8e1df, 1195px 61px #e8e1df, 1563px 81px #e8e1df, 1110px 1984px #e8e1df, 603px 1370px #e8e1df, 426px 1953px #e8e1df, 578px 1488px #e8e1df, 962px 1362px #e8e1df, 512px 1972px #e8e1df, 36px 1994px #e8e1df, 425px 1515px #e8e1df, 1716px 1189px #e8e1df, 1401px 1160px #e8e1df, 1706px 268px #e8e1df, 242px 1534px #e8e1df, 1140px 1920px #e8e1df, 842px 1521px #e8e1df, 283px 1734px #e8e1df, 589px 1251px #e8e1df, 824px 1148px #e8e1df, 1626px 122px #e8e1df, 1735px 948px #e8e1df, 477px 265px #e8e1df, 1534px 1000px #e8e1df, 1688px 586px #e8e1df, 872px 394px #e8e1df, 682px 42px #e8e1df, 1734px 623px #e8e1df, 1316px 1041px #e8e1df, 32px 1653px #e8e1df, 1347px 843px #e8e1df, 37px 1831px #e8e1df, 422px 1895px #e8e1df, 945px 1656px #e8e1df, 1852px 1894px #e8e1df, 1245px 334px #e8e1df, 1829px 1400px #e8e1df, 807px 1090px #e8e1df, 1003px 460px #e8e1df, 584px 1582px #e8e1df, 669px 546px #e8e1df, 1059px 528px #e8e1df, 89px 143px #e8e1df, 431px 260px #e8e1df, 97px 1926px #e8e1df, 491px 703px #e8e1df, 820px 1827px #e8e1df, 1712px 897px #e8e1df, 1610px 1439px #e8e1df, 1599px 1849px #e8e1df, 291px 914px #e8e1df, 1394px 1718px #e8e1df, 444px 56px #e8e1df, 925px 37px #e8e1df, 484px 1491px #e8e1df, 1881px 1694px #e8e1df, 430px 1818px #e8e1df, 272px 871px #e8e1df, 1982px 484px #e8e1df, 632px 1388px #e8e1df, 1779px 1911px #e8e1df, 1813px 1592px #e8e1df, 644px 1598px #e8e1df, 27px 1520px #e8e1df, 1066px 1925px #e8e1df, 1264px 1320px #e8e1df, 36px 1449px #e8e1df, 1712px 1815px #e8e1df, 256px 1164px #e8e1df, 728px 143px #e8e1df, 637px 788px #e8e1df, 703px 1696px #e8e1df, 808px 1506px #e8e1df, 1952px 66px #e8e1df, 1686px 984px #e8e1df, 630px 389px #e8e1df, 3px 905px #e8e1df, 1563px 110px #e8e1df, 1017px 930px #e8e1df, 1863px 468px #e8e1df, 1475px 436px #e8e1df, 1127px 1597px #e8e1df, 394px 386px #e8e1df, 1198px 490px #e8e1df, 1222px 1499px #e8e1df, 1522px 266px #e8e1df, 1073px 1781px #e8e1df, 1293px 1387px #e8e1df, 849px 1341px #e8e1df, 1435px 1600px #e8e1df, 286px 1578px #e8e1df, 569px 1968px #e8e1df, 779px 1127px #e8e1df, 1669px 1335px #e8e1df, 575px 1263px #e8e1df, 1536px 1166px #e8e1df, 1033px 1487px #e8e1df, 1165px 704px #e8e1df, 834px 1310px #e8e1df, 741px 1908px #e8e1df, 441px 878px #e8e1df, 1199px 147px #e8e1df, 1492px 104px #e8e1df, 55px 583px #e8e1df, 1830px 1259px #e8e1df, 1705px 1444px #e8e1df, 790px 1719px #e8e1df, 776px 1357px #e8e1df, 1873px 1460px #e8e1df, 1015px 1649px #e8e1df, 1126px 1789px #e8e1df, 1986px 1680px #e8e1df, 1946px 677px #e8e1df, 1977px 1351px #e8e1df, 803px 1156px #e8e1df, 668px 1397px #e8e1df, 999px 609px #e8e1df, 853px 1241px #e8e1df, 224px 329px #e8e1df, 1950px 385px #e8e1df, 1803px 1020px #e8e1df, 277px 1201px #e8e1df, 428px 1782px #e8e1df, 746px 764px #e8e1df, 406px 764px #e8e1df, 37px 105px #e8e1df, 169px 1102px #e8e1df, 557px 251px #e8e1df, 1517px 490px #e8e1df, 1468px 788px #e8e1df, 173px 358px #e8e1df, 484px 800px #e8e1df, 1216px 409px #e8e1df, 1635px 1940px #e8e1df, 1514px 1066px #e8e1df, 371px 1658px #e8e1df, 1520px 82px #e8e1df, 692px 370px #e8e1df, 569px 541px #e8e1df, 1759px 795px #e8e1df, 1919px 699px #e8e1df, 1271px 1328px #e8e1df, 1682px 857px #e8e1df, 1478px 1217px #e8e1df, 282px 1548px #e8e1df, 163px 1248px #e8e1df, 1478px 272px #e8e1df, 87px 1878px #e8e1df, 1049px 1048px #e8e1df, 403px 1193px #e8e1df, 589px 1178px #e8e1df, 1887px 1984px #e8e1df, 1763px 734px #e8e1df, 1028px 1743px #e8e1df, 1663px 1145px #e8e1df, 380px 1867px #e8e1df, 839px 1817px #e8e1df, 1370px 1766px #e8e1df, 495px 627px #e8e1df, 477px 421px #e8e1df, 1374px 43px #e8e1df, 133px 351px #e8e1df, 1167px 589px #e8e1df, 77px 1894px #e8e1df, 977px 1102px #e8e1df, 745px 143px #e8e1df, 460px 175px #e8e1df, 775px 1177px #e8e1df, 304px 1302px #e8e1df, 284px 19px #e8e1df, 1546px 1422px #e8e1df, 1355px 1980px #e8e1df, 387px 1279px #e8e1df, 1077px 1550px #e8e1df, 1696px 185px #e8e1df, 1958px 1393px #e8e1df, 71px 1751px #e8e1df, 4px 1016px #e8e1df, 997px 1204px #e8e1df, 762px 441px #e8e1df, 1766px 1091px #e8e1df, 200px 1578px #e8e1df, 675px 1455px #e8e1df, 367px 1899px #e8e1df, 1172px 1398px #e8e1df, 1858px 1149px #e8e1df, 709px 595px #e8e1df, 1304px 1996px #e8e1df, 970px 798px #e8e1df, 1342px 1587px #e8e1df, 1578px 11px #e8e1df, 701px 1490px #e8e1df, 1795px 302px #e8e1df, 1035px 959px #e8e1df, 443px 32px #e8e1df, 1027px 308px #e8e1df, 1736px 634px #e8e1df, 1152px 940px #e8e1df, 18px 1957px #e8e1df, 1289px 1727px #e8e1df, 1235px 1799px #e8e1df, 848px 657px #e8e1df, 1718px 1909px #e8e1df, 1787px 1689px #e8e1df, 1533px 828px #e8e1df, 429px 1282px #e8e1df, 1675px 1543px #e8e1df, 1061px 1186px #e8e1df, 1412px 604px #e8e1df, 1644px 1967px #e8e1df, 1124px 942px #e8e1df, 736px 764px #e8e1df, 78px 263px #e8e1df, 1352px 1462px #e8e1df, 1465px 676px #e8e1df, 49px 602px #e8e1df, 178px 1997px #e8e1df, 869px 1501px #e8e1df, 1245px 1831px #e8e1df, 574px 44px #e8e1df, 789px 1130px #e8e1df, 1260px 1459px #e8e1df, 1531px 1984px #e8e1df, 781px 1294px #e8e1df, 748px 854px #e8e1df, 132px 1807px #e8e1df, 1019px 752px #e8e1df, 864px 1281px #e8e1df, 1054px 936px #e8e1df, 1866px 715px #e8e1df, 1053px 644px #e8e1df, 721px 94px #e8e1df, 875px 1059px #e8e1df, 1370px 333px #e8e1df, 523px 823px #e8e1df, 1799px 1762px #e8e1df, 1145px 795px #e8e1df, 480px 1192px #e8e1df, 1346px 1196px #e8e1df, 384px 534px #e8e1df, 391px 920px #e8e1df, 1360px 1005px #e8e1df, 1556px 1327px #e8e1df, 1024px 405px #e8e1df, 1802px 1330px #e8e1df, 66px 633px #e8e1df, 77px 1091px #e8e1df, 1001px 214px #e8e1df, 541px 57px #e8e1df, 132px 1186px #e8e1df, 840px 319px #e8e1df, 978px 606px #e8e1df, 599px 1546px #e8e1df, 774px 1432px #e8e1df, 1534px 1774px #e8e1df, 322px 1940px #e8e1df, 1557px 620px #e8e1df, 1409px 731px #e8e1df, 7px 581px #e8e1df, 1659px 367px #e8e1df, 684px 211px #e8e1df, 368px 1512px #e8e1df, 356px 836px #e8e1df, 911px 492px #e8e1df, 1936px 1541px #e8e1df, 1762px 827px #e8e1df, 941px 269px #e8e1df, 391px 570px #e8e1df, 1387px 1110px #e8e1df, 1444px 1181px #e8e1df, 771px 1311px #e8e1df, 1255px 1313px #e8e1df, 1019px 118px #e8e1df, 304px 610px #e8e1df, 746px 1684px #e8e1df, 1933px 1264px #e8e1df, 939px 966px #e8e1df, 538px 1913px #e8e1df, 1165px 887px #e8e1df, 1873px 876px #e8e1df, 781px 1325px #e8e1df, 793px 937px #e8e1df, 1723px 291px #e8e1df, 588px 926px #e8e1df, 120px 594px #e8e1df, 479px 1123px #e8e1df, 867px 124px #e8e1df, 1220px 1756px #e8e1df, 819px 587px #e8e1df, 159px 1584px #e8e1df, 268px 407px #e8e1df, 1909px 1802px #e8e1df, 790px 1298px #e8e1df, 1407px 1766px #e8e1df, 1635px 77px #e8e1df, 1801px 252px #e8e1df, 1397px 1715px #e8e1df, 1100px 792px #e8e1df, 632px 1247px #e8e1df, 476px 1160px #e8e1df, 198px 1316px #e8e1df, 666px 590px #e8e1df, 171px 1796px #e8e1df, 968px 649px #e8e1df, 641px 809px #e8e1df, 1925px 1518px #e8e1df, 1306px 1646px #e8e1df, 612px 1823px #e8e1df, 928px 598px #e8e1df, 28px 311px #e8e1df, 808px 1292px #e8e1df, 1358px 85px #e8e1df, 1651px 809px #e8e1df, 1053px 884px #e8e1df, 1289px 1392px #e8e1df, 745px 333px #e8e1df, 822px 155px #e8e1df, 1595px 382px #e8e1df, 229px 308px #e8e1df, 761px 46px #e8e1df, 1820px 387px #e8e1df, 1330px 1635px #e8e1df, 605px 1754px #e8e1df, 1104px 1170px #e8e1df, 1600px 1314px #e8e1df, 1766px 1924px #e8e1df, 859px 2000px #e8e1df, 47px 502px #e8e1df, 1178px 218px #e8e1df, 386px 664px #e8e1df, 254px 875px #e8e1df, 322px 641px #e8e1df, 1608px 1578px #e8e1df, 631px 416px #e8e1df, 38px 1485px #e8e1df, 999px 1390px #e8e1df, 1957px 378px #e8e1df, 1983px 885px #e8e1df, 1098px 222px #e8e1df, 1367px 124px #e8e1df, 1370px 773px #e8e1df, 169px 1131px #e8e1df, 983px 973px #e8e1df, 258px 547px #e8e1df, 1540px 35px #e8e1df, 1582px 1301px #e8e1df, 93px 1625px #e8e1df, 567px 503px #e8e1df, 1523px 1102px #e8e1df, 1992px 394px #e8e1df, 579px 669px #e8e1df, 1466px 537px #e8e1df, 1202px 1353px #e8e1df, 67px 1018px #e8e1df, 201px 1107px #e8e1df, 240px 631px #e8e1df, 1557px 239px #e8e1df, 1535px 574px #e8e1df, 1551px 965px #e8e1df, 1877px 1387px #e8e1df, 1536px 1082px #e8e1df, 1796px 1012px #e8e1df, 1686px 142px #e8e1df, 1567px 937px #e8e1df, 280px 1775px #e8e1df, 170px 1838px #e8e1df, 59px 700px #e8e1df, 909px 670px #e8e1df, 1919px 623px #e8e1df, 564px 1046px #e8e1df, 837px 1430px #e8e1df, 1997px 1769px #e8e1df, 475px 430px #e8e1df, 1563px 311px #e8e1df, 256px 1054px #e8e1df, 1440px 1644px #e8e1df, 1957px 1917px #e8e1df, 740px 1238px #e8e1df, 378px 1655px #e8e1df, 1112px 1396px #e8e1df, 500px 785px #e8e1df, 805px 379px #e8e1df, 495px 1105px #e8e1df, 882px 1448px #e8e1df, 332px 1057px #e8e1df, 614px 102px #e8e1df, 192px 436px #e8e1df, 1215px 1164px #e8e1df, 378px 1388px #e8e1df, 426px 545px #e8e1df, 114px 1488px #e8e1df, 791px 428px #e8e1df, 706px 677px #e8e1df, 862px 355px #e8e1df, 1045px 1060px #e8e1df, 1364px 964px #e8e1df, 1204px 202px #e8e1df, 1073px 1759px #e8e1df, 346px 1178px #e8e1df, 972px 525px #e8e1df, 319px 1208px #e8e1df, 1535px 1603px #e8e1df, 1185px 1129px #e8e1df, 1282px 265px #e8e1df, 152px 1010px #e8e1df, 660px 1871px #e8e1df, 266px 1199px #e8e1df, 367px 1083px #e8e1df, 335px 1976px #e8e1df, 1833px 924px #e8e1df, 1026px 340px #e8e1df, 220px 28px #e8e1df, 330px 101px #e8e1df, 177px 598px #e8e1df, 1699px 1883px #e8e1df, 1169px 666px #e8e1df, 1471px 92px #e8e1df, 369px 1220px #e8e1df, 1464px 31px #e8e1df, 944px 1339px #e8e1df, 129px 57px #e8e1df, 711px 1563px #e8e1df, 734px 1295px #e8e1df, 376px 150px #e8e1df, 97px 1745px #e8e1df, 1940px 939px #e8e1df, 7px 1495px #e8e1df, 310px 267px #e8e1df, 1252px 1719px #e8e1df, 1478px 1293px #e8e1df, 1894px 286px #e8e1df, 906px 1745px #e8e1df, 474px 1591px #e8e1df, 495px 1876px #e8e1df, 802px 1684px #e8e1df, 162px 1667px #e8e1df, 344px 551px #e8e1df, 990px 1571px #e8e1df, 1003px 1715px #e8e1df, 1259px 874px #e8e1df, 1115px 571px #e8e1df, 1597px 999px #e8e1df, 1772px 1280px #e8e1df, 1035px 1529px #e8e1df, 792px 238px #e8e1df, 1701px 769px #e8e1df, 665px 993px #e8e1df, 457px 772px #e8e1df, 597px 1550px #e8e1df, 408px 59px #e8e1df, 1086px 1672px #e8e1df, 545px 1704px #e8e1df, 956px 1314px #e8e1df, 1809px 1154px #e8e1df, 1972px 769px #e8e1df, 1841px 501px #e8e1df, 1479px 395px #e8e1df, 1880px 1827px #e8e1df, 808px 1708px #e8e1df, 1714px 1166px #e8e1df, 1765px 1139px #e8e1df, 533px 115px #e8e1df, 590px 1903px #e8e1df, 384px 1311px #e8e1df, 1389px 1702px #e8e1df, 1774px 1322px #e8e1df, 1615px 1820px #e8e1df, 44px 420px #e8e1df, 349px 992px #e8e1df, 1913px 1576px #e8e1df, 1121px 1669px #e8e1df, 1340px 1327px #e8e1df, 1648px 1236px #e8e1df, 240px 1917px #e8e1df, 1260px 1672px #e8e1df, 604px 1192px #e8e1df, 162px 1579px #e8e1df, 1164px 1652px #e8e1df, 1235px 1509px #e8e1df, 161px 100px #e8e1df, 1645px 1587px #e8e1df, 1757px 57px #e8e1df, 405px 1055px #e8e1df, 343px 442px #e8e1df, 651px 930px #e8e1df, 1923px 1957px #e8e1df, 1164px 753px #e8e1df, 795px 252px #e8e1df, 1013px 923px #e8e1df, 1835px 387px #e8e1df, 1574px 1122px #e8e1df, 1465px 1052px #e8e1df, 1658px 1044px #e8e1df, 990px 1708px #e8e1df, 847px 433px #e8e1df, 1966px 743px #e8e1df, 1331px 817px #e8e1df, 367px 988px #e8e1df, 561px 1560px #e8e1df, 6px 604px #e8e1df, 247px 1051px #e8e1df, 649px 1782px #e8e1df, 1059px 1545px #e8e1df, 1240px 800px #e8e1df, 1035px 1933px #e8e1df, 1005px 841px #e8e1df, 1135px 1445px #e8e1df, 1091px 1815px #e8e1df, 423px 1198px #e8e1df, 567px 1768px #e8e1df, 1147px 238px #e8e1df, 156px 126px #e8e1df, 1082px 641px #e8e1df, 522px 600px #e8e1df, 187px 735px #e8e1df, 1727px 237px #e8e1df, 1546px 31px #e8e1df, 1447px 182px #e8e1df, 1906px 1300px #e8e1df, 1313px 1220px #e8e1df, 1365px 560px #e8e1df, 1821px 1424px #e8e1df, 678px 459px #e8e1df, 1017px 1948px #e8e1df, 2000px 1178px #e8e1df, 601px 1368px #e8e1df, 1720px 514px #e8e1df, 156px 579px #e8e1df, 527px 1994px #e8e1df, 1540px 1719px #e8e1df, 287px 1746px #e8e1df, 1999px 704px #e8e1df, 822px 179px #e8e1df, 171px 1747px #e8e1df, 725px 250px #e8e1df, 149px 1486px #e8e1df, 883px 1769px #e8e1df, 1959px 1244px #e8e1df;}
@-webkit-keyframes animStar {
    from {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    to {
      -webkit-transform: translateY(-2000px);
      transform: translateY(-2000px);
    }
  }
  
  @keyframes animStar {
    from {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    to {
      -webkit-transform: translateY(-2000px);
      transform: translateY(-2000px);
    }
  }


/* theme */
.wraper_theme{width:100%;position: relative;}
.theme{position: absolute;top:190px;right:0;transform:rotate(90deg)}
.theme li{display:inline-block;width:80px;height:26px;line-height: 25px;border-radius: 12px;}
.theme li:hover{background-color:#85d7c8;opacity:.6;color:#fff;transition:all .5s ease-in-out}
.theme li a{display:block;width:100%;height:100%}
.theme li i{margin-right: 6px;}
.theme .on{background-color:#85d7c8;color:white}

/* top button */
.wraper{position: relative;}
.top{padding:15px;position: fixed;right: 40px; bottom: 50px;border-radius: 50%;color:#fff;background-color: grey;}

/* header */
.header{margin:0 auto;width:850px}
.header .profile_pic{margin: 0 auto 35px;width:160px; height: 160px;border-radius: 50%; background-color: #b1c9b6;}
.header .profile_pic div{margin:0 auto;width: 150px;height:150px; border-radius: 50%; background:url(./img/profile.png) 19px 10px no-repeat;background-size: contain;}
.header h1{margin:0 auto 100px;letter-spacing: 5px;font-weight: lighter;}
.header h1 a{font-family: 'Nanum Myeongjo', serif;display:inline-block;width:100%;height: 100%;;color:#6d6e70;font-size: 13px;line-height: 25px;animation-name: title;animation-duration: 3s;animation-iteration-count: infinite;}
@keyframes title{
    0%{color:plum;}
    40%{color:#6d6e70}
    70%{color:burlywood;}
    100%{color:plum;}
}
.header .scroll,
.header .swipe{display:block;position: relative;height:160px;font-size: 10px;letter-spacing:1px;font-weight: lighter}
.header .scroll::after,
.header .swipe::after{content:'';position: absolute;top:30px;left:50%;width:1px;height: 80%;background-color:#aaa}
.header .swipe{display: none}


/* navi */
.list_navi{overflow:hidden;display:inline-block;margin:85px auto}
.list_navi li{margin-right:70px;letter-spacing: -1px;font-weight: 300;float:left}
.list_navi li:last-child{margin-right:0}
.list_navi li a{display:inline-block;width:100%;height:100%;position:relative;font-size: 18px;}
.list_navi li a::after{position: absolute;top:0;left:0;;transform:translateY(35px);transition: all .5s ease-in-out;}
.list_navi li:nth-child(1) a::after{content: 'Curriculum Vitae'}
.list_navi li:nth-child(2) a::after{content: 'Projects'}
.list_navi li:nth-child(3) a::after{content: 'Personal Works'}
.list_navi li a:hover{transform:translateY(-35px);transition:all .5s ease-in-out}
.list_navi li a:hover::after{color:#b1c9b6}
.list_navi .on{color:#fa3118}
.list_navi li.on{font-weight: normal;}


/* CV */
.cont_cv{width:850px;margin:0 auto;overflow: hidden}
.cont_cv li span::before{content:'';position: absolute;left:0;top:30%;;width:3px;height:60%;background-color: #fa3118;}
.cont_cv li span{position:relative;padding-right:15px}
.cont_cv .list_cv_first{width:37%;float: left;padding-left:60px}
.list_cv_first li{margin-bottom: 25px;text-align: left;font-weight: 300;}
.list_cv_first li:first-child{margin-bottom:45px}
/* .list_cv_first li:last-child{width:100%;height:300px;background:url(./img/port.jpg) -110px 0 no-repeat;background-size: cover} */
.list_cv_first li strong,
.list_cv_sec li strong{font-weight: 500;}
.list_cv_first li em{font-style: normal;font-weight: 500;}
.list_cv_sec{width:53%;float:right;}
.list_cv_sec li{margin-bottom:45px;text-align: left;font-weight: lighter}
.list_cv_sec li em{display: block;margin-bottom:5px;font-style: normal;font-weight:500}

.project,
.work{opacity: 100;transform: translateY(-45px);transition: all 1.35s ease-in-out}
.cv_appear{opacity: 1;transform: translateY(0)}


/* project */
.project{width:850px;margin:0 auto;padding-top: 100px;}
.cont_project{overflow: hidden;}
.cont_project > li{margin-bottom:60px;background-repeat: no-repeat;background-size: cover;background-position: center;border:1px solid #e4e4e4;box-sizing: border-box;filter:grayscale(100%);transition:all .45s ease-in-out}
.cont_project > li:hover{filter: none}
.cont_project > li a{display:block;width:100%;height: 100%;}
.cont_project > li:nth-child(1){float:left;width:415px;height: 500px;background-image: url(./img/deus_index.png);background-position: -355px 0;}
.cont_project > li:nth-child(2){display: inline-block;margin-left:20px;width:415px;height:500px;background-image:url(./img/deus_admin_index.png);background-position: -355px 0;}
.cont_project > li:nth-child(3){width:100%;height:480px;background-image: url(./img/moving_admin.png);background-position-y: 0px;}
.cont_project > li:nth-child(4){width:100%;height:480px;background-image: url(./img/MV.png)}
.cont_project > li:nth-child(5){float:left;width:415px;height:450px;background-image: url(./img/bitchain_index.png);background-position: -323px 0;}
.cont_project > li:nth-child(6){display:inline-block;margin-left:20px;width:415px;height:450px;background-image: url(./img/bitpi_index.png);background-position: -242px 0;}

.list_port{overflow: hidden;position: relative;margin-bottom:60px}
.list_port li{float: left;text-align: left}
.list_port li:first-child{position: relative;padding-left:15px}
.list_port li:first-child::after{filter:none;content: '';position: absolute;top:30%; left:0;width:3px;height: 60%;background-color:#fa3118}
.list_port li:last-child{position: absolute;top:0;right: 0;}

.add_exp{padding-left:10px;text-align: left;position: relative;}
.add_exp::after{content: '';position: absolute;top:5px;left:0;width:3px;height: 80%;background-color: #fa3118}


/* works */
.work{width:850px;margin:0 auto}
.list_work{overflow: hidden;}
.list_work > li{margin-bottom:60px;width:100%; height:350px;background-repeat: no-repeat;background-size: cover;border:1px solid #e4e4e4;filter:grayscale(70%);box-sizing: border-box;transition:all .4s ease-in-out}
.list_work > li:hover{filter:none}
.list_work > li:nth-child(1){background-image: url(./img/wine.png);background-position: 0 -85px}
.list_work > li:nth-child(2){background-image: url(./img/preseason.png);background-position: 0 -95px}
.list_work > li:nth-child(3){background-image: url(./img/zara.png)}
.list_work > li:nth-child(4){background-image: url(./img/goutal.png);background-position: top}
.list_work > li a{display:block;width:100%;height:100%;}

.list_work.sketch{overflow: hidden;}
.list_work.sketch li{float:left;width:415px;height:450px;background-position:center}
.list_work.sketch li:nth-child(1){background-image: url(./img/cos.png)}
.list_work.sketch li:nth-child(2){background-image: url(./img/mise.png);}
.list_work.sketch li:nth-child(even){float: right}


/* footer */
.footer{position: relative;width:55%;margin:100px auto 0;padding:50px 0;font-size: 10px;letter-spacing: 3px}
.footer::before{content:'';position: absolute;top:0;left:0;width:100%;height: 1px;background-color: #495183}


/* admin */
.admin{background-color: #fff;}
.admin_wraper{position:relative;margin:0 auto;padding:150px 0;width:900px;min-width: 900px;}
.admin_wraper a{display: block;position: fixed}
.admin_wraper .admin_back{margin-top:90px;top:50%;left:85px;transform: rotate(-90deg);transform-origin: 0 0;animation-name: admin;animation-duration: 3.5s;animation-iteration-count: infinite;}
@keyframes admin{
    0%{color:plum;}
    40%{color:#6d6e70}
    70%{color:burlywood;}
    100%{color:plum;}
}

.admin_wraper .btn_top{display: inline-block;width:55px;height: 55px;border-radius: 30px;background-color:burlywood;color:#fff;position: fixed;bottom:80px;right: 85px;transition: all .35s ease-in-out}
.admin_wraper .admin_top{line-height: 55px;position: relative;transition:all .35s ease-in-out}
.admin_wraper .admin_top::after{content: '^';position: absolute;top:35px;left:18px;font-size: 35px}
.admin_wraper .btn_top:hover{background-color:plum}
.admin_wraper .btn_top:hover .admin_top{transform: translateY(-35px)}

.admin_wraper a i{padding-left:10px}
.admin_wraper .admin_info{text-align: left;}
.admin_wraper .admin_info li{margin-bottom: 65px}
.admin_wraper .admin_info li span{position:relative;display:block;margin-bottom:35px;padding-left:10px;font-size: 13px;}
.admin_wraper .admin_info li span::after{content:'';position: absolute;top:3px;left:0;width:3px;height: 65%;background-color:plum;}
.admin_wraper .admin_info li .admin_img{width:900px;background-repeat: no-repeat}
.admin_wraper .admin_info li:nth-child(1) .admin_img{height:210px;background-image:url(./img/admin_font.png);background-position-x: 30px}
.admin_wraper .admin_info li:nth-child(2) .admin_img{height:135px;background-image:url(./img/admin_color.png)}

.admin_wraper em{display:block;margin-bottom:85px;font-size: 23px;font-style: normal;letter-spacing: -1px}
.admin_wraper .color .color_img{width:660px;height:10px;background-image: url(./img/admin_color.png);background-size: cover}

.admin_wraper .list_admin{width:900px;}
.admin_wraper .list_admin li{margin-bottom: 65px;text-align: left}
.admin_wraper .list_admin li:last-child{margin-bottom: 0}
.admin_wraper .list_admin li .admin_img{margin-top:15px;width:100%;height:500px;background-size: cover;box-shadow:10px 10px 55px -40px rgba(0,0,0,0.75)}
.admin_wraper .list_admin li:nth-child(1) .admin_img{background-image: url(./img/MV_login.png)}
.admin_wraper .list_admin li:nth-child(2) .admin_img{background-image: url(./img/MV_main.png)}
.admin_wraper .list_admin li:nth-child(3) .admin_img{background-image: url(./img/MV_sub.png)}
.admin_wraper .list_admin li:nth-child(4) .admin_img{background-image: url(./img/MV_inquiry.png)}
.admin_wraper .list_admin li:nth-child(5) .admin_img{background-image: url(./img/MV_inquiry_detail.png)}
.admin_wraper .list_admin li:nth-child(6) .admin_img{background-image: url(./img/MV_employ.png)}
.admin_wraper .list_admin li span{position:relative;padding-left:10px;width:3px;height: 10px;}
.admin_wraper .list_admin li span::after{content: '';position: absolute;top:30%; left:0;width:3px;height: 60%;background-color:plum}


/* cos */
.sketch{width:100%;font-family: 'Roboto', sans-serif;background-color:#fff;box-sizing: border-box;}
.sketch strong{color:#E83C38;font-weight: lighter;font-size: 20px;}

.wrapper_logo_cos{position: relative;width:100%;height: 680px;background-color:#e8dedd;background-image: radial-gradient(#FFf 37%, transparent 20%), radial-gradient(#fff 37%, transparent 20%);background-size: 450px 450px;background-position: 0 0, 225px 225px;;}
.wrapper_logo_cos .wrap_title{position:absolute;top:60px;left:-325px;}
.wrapper_logo_cos strong{display:block;margin-bottom:20px;height: 230px;font-size: 190px;font-weight: normal;color:#f56e5c} 
.wrapper_logo_cos em{font-style:normal;color:#f56d5c} 
.wrapper_logo_cos .logo_img{position:absolute;top:120px;left:50%;margin-left:-125px;width:250px;height:500px;background:url(./img/cos_logo.png) center no-repeat;background-size: contain}

.color{width:100%}
.wrapper_color{padding:100px 0;height: auto;margin:0 auto;overflow: hidden;}
.wrapper_color .list_color{overflow: hidden;margin:50px auto;width:570px;height:165px}
.wrapper_color .list_color li{float:left;margin-right:15px;width:130px;height:150px;box-shadow:5px 10px #bbbbbb;border-radius: 10px;border:1px solid #e8e8e8;box-sizing: border-box}
.wrapper_color .list_color li:nth-child(1){background-color:#f8f8f8}
.wrapper_color .list_color li:nth-child(2){background-color:#C5AEAC}
.wrapper_color .list_color li:nth-child(3){background-color:#E83C38}
.wrapper_color .list_color li:nth-child(4){background-color:#606060;margin-right:0}
.wrapper_color .list_color li span{display:block;padding-top:3px;width:100%;height: 20px;text-align: center;background-color:#fff;border-radius: 9px 9px 0 0}

.typo{padding:100px 0;background-color:#f8f8f8}
.wrapper_typo strong{display: block;}
.wrapper_typo .typo_ex01{margin:50px auto;width:700px;height:90px;background:url(./img/cos_font.png) 0 0 no-repeat;background-size: contain}
.wrapper_typo .typo_ex02{display:inline-block;margin-right:20px;font-size: 120px;font-family: 'Noto Sans KR', sans-serif;}
.wrapper_typo .typo_ex02_cont{display: inline-block;text-align: left;font-family: 'Noto Sans KR', sans-serif;}
.wrapper_typo .typo_ex02_cont em{display: block;font-size:25px;font-style: normal;font-weight: lighter}
.wrapper_typo .typo_ex02_cont .typo_weight{display: block;margin:1px 0 8px 0}
.wrapper_typo .typo_ex02_cont .typo_weight .typo_bold{font-weight: bold}
.wrapper_typo .typo_ex02_cont .typo_weight .typo_light{font-weight: lighter}
.wrapper_typo .typo_ex02_cont p{color:#909090}

.mockUp{margin:50px auto}
.mockUp strong{display: block;margin-bottom:50px}
.mockUp_img{margin:0 auto;width:700px;height:1510px;background:url(./img/cos_mock.png) 0 0 no-repeat;background-size: contain}

.proto{padding:50px 0;}
.proto.cos{background-color: #fbf7f7;background-image: radial-gradient(#FFf 37%, transparent 20%), radial-gradient(#fff 37%, transparent 20%);background-position: 0 0, 225px 225px;background-size: 450px 450px;}
.proto_img{margin:0 auto;width:700px;height:2121px;background:url(./img/proto.png) 0 0 no-repeat;background-size: contain}


/* misemise */

.mise.sketch strong{color:#73bcbd}
.mise .wrapper_logo_mise{position:relative;width:100%;height: 680px;background:radial-gradient(circle at 0% 100%, rgba(96, 16, 48, 0) 9px, #d9f1ef 5px, rgba(96, 16, 48, 0) 11px) 0px 5px,
  radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, #d9eceb 10px, rgba(96, 16, 48, 0) 10px), #f4fbfb;background-size: 20px 20px;}
.mise .wrapper_logo_mise .logo_img{position:absolute;top:50%;left:50%;margin:-150px 0 0 -125px;width:250px;height:200px;background: url(./img/mise_logo.png) 0 0 no-repeat;background-size: contain;}
.mise .wrapper_logo_mise .wrap_title{padding-top:400px}
.mise .wrapper_logo_mise .wrap_title > strong{font-size: 60px;letter-spacing: 35px;}
.mise .wrapper_logo_mise .wrap_title em{display:block;font-style:normal;color:#869e9e}

.mise .wrapper_typo{color:#6c7575}
.mise .typo{background-color:#f4fbfb}

.mise .wrapper_color .list_color{width:690px;height: auto;}
.mise .wrapper_color .list_color li{position:relative;margin-bottom:15px;width:240px;height:auto;float: none;border:none;box-shadow: none;border-radius: 50px;background-color:transparent}
.mise .wrapper_color .list_color li span{position:absolute;top:0;left:200px;width:300px;height: 17px;border-radius: 30px;}
.mise .wrapper_color .list_color li:nth-child(1) span{background-color:#80C5C0}
.mise .wrapper_color .list_color li:nth-child(2) span{background-color:#D6EAE9}
.mise .wrapper_color .list_color li:nth-child(3) span{background-color:#539192}
.mise .wrapper_color .list_color li:nth-child(4) span{background-color:#617373}
.mise .wrapper_color .list_color li:nth-child(5) span{background-color:#797F7F}
.mise .wrapper_color .list_color li:nth-child(6) span{background-color:#E87A7A}


.mise .wrapper_typo .wrap_typo_ex02.openSans{font-family: sans-serif}

.mise .mockUp_img{background-image: url(./img/mise_mock.png);}

.mise .proto{background:radial-gradient(circle at 0% 100%, rgba(96, 16, 48, 0) 9px, #e1e6e6 5px, rgba(96, 16, 48, 0) 11px) 0px 5px,
  radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, #cadcdc 10px, rgba(96, 16, 48, 0) 10px), #e9efef;background-size: 20px 20px;}
.mise .proto_img{margin-top:70px;width:800px;height:525px;background-image: url(./img/mise_proto_01.png);}

.mise .proto_extra{background-color:#fff;background:none}
.mise .proto_extra .proto_img{height:1000px;background-image: url(./img/mise_proto_02.png);}



/* deus */
.deus_cont{background-color: #fff;}
.deus_cont .deus{margin:0 auto; width:1024px; height:4266spx;background: url(./img/deus.png) 0 0 no-repeat;background-size: cover;}


/* deus_admin */
.deus_cont .deus_admin{height:3516px;background-image: url(./img/deus_admin.png);}



/* moving */
.deus_cont .moving{height:2488px;background-image: url(./img/moving_admin.png);}


/* bitchain */
.deus_cont .bitchain{height: 3128px; background-image: url(./img/bitchain.png);}


/* bitpi */
.deus_cont .bitpi{height: 4926px; background-image: url(./img/bitpi.png);}






@media only screen and (max-width: 900px){
 /* cos */
 .wrapper_logo_cos .wrap_title{margin-top:-90px;top:50%;left:-200px;}
 .wrapper_logo_cos strong{margin-bottom:10px;height: 115px;font-size: 95px;}
 .wrapper_logo_cos em{display: block;margin:0 auto;width:150px;}

 .wrapper_typo .typo_ex01{width:280px;background-image: url(./img/cos_font_responsive.png);}
 .wrapper_typo .typo_ex02_cont p{display: none;}
 .mockUp_img{width:600px;height:1310px}
 .proto_img{width:600px;height: 1810px;}

/* mise */
.mise .proto_img{width:550px;height:365px}
.mise .proto_extra .proto_img{height: 620px;}

}


@media only screen and (max-width: 680px){

.wraper{width:100%;min-width: inherit;margin:50px 0;}
.list_port li:first-child{padding-left:10px}

/* star */
.stars{width:100%}


/* header */
.header{width:100%;padding-top:70px}
.list_navi{margin:70px 0}
.list_navi li{margin-right: 20px;}
.list_navi li a{font-size: 17px}

/* cv */
.cont_cv{width:100%;padding:0 50px;box-sizing: border-box}
.cont_cv ul{margin-bottom:0;width:100%}
.cont_cv ul li{word-break: keep-all}

.cont_cv .list_cv_first{float:none;width:100%}
.list_cv_first li{margin-bottom:35px;}
.list_cv_first li:last-child{display: none}

.list_cv_sec li{margin-bottom:35px;}



/* project */
.project{width:auto}
.project .cont_project{padding:0 10px;width:100%;box-sizing: border-box}
.project .cont_project > li{height: 300px;}
.project .cont_project > li:nth-child(3),
.project .cont_project > li:nth-child(4){width:100%;}
.project .cont_project > li:nth-child(4){margin-left:0}


/* works */
.work{width:auto}
.list_work{padding:0 10px;}
.work .list_work > li{height: 300px;background-position: center}

.list_work.sketch li{float: none;width:100%}

/* footer */
.footer{margin:80px auto 0}

/* cos */
.wrapper_logo_cos{height:865px}
.wrapper_logo_cos .wrap_title{position: static;margin-top:485px}
.wrapper_color .list_color{width:auto;height: auto;}
.wrapper_color .list_color li{float: none;width:280px;height: 100px;margin:0 auto 20px auto;}
.wrapper_color .list_color li:nth-child(4){margin-right: auto;}

.mockUp_img{width:400px;height: 870px;}
.proto_img{width:400px;height:1220px}

/* mise */
.mise .wrapper_logo_mise .wrap_title > strong{margin-right:-10px;font-size:25px;letter-spacing: 10px;}
.mise .wrapper_logo_mise .wrap_title em{display:block;width:185px;margin:0 auto;}
.mise .wrapper_color .list_color{width:280px;text-align: left;}
.mise .wrapper_color .list_color li{width:100%}
.mise .wrapper_color .list_color li span{width:210px;left:70px}

.mise .proto_img{width:450px}

}


@media only screen and (max-width: 500px) {
  .list_port li{margin-top:5px;float: none;text-align: center}
  .list_port li:last-child{position: static}
  .list_port li:first-child::after{position: static;}

  .add_exp{text-align: center}
  .add_exp::after{content: none}

  /* mise */
  .mise .proto_img{width:400px}
}


@media only screen and (max-width: 440px) {
  body{font-size:13px}
  .cont_cv{padding:0 25px;}

  .list_cv_first li
  .list_cv_sec li{line-height: 1.5}

  .header .scroll{display: none}
  .header .swipe{display: block}

  /* cos */
  .mockUp_img{width:300px;height: 660px;}
  .proto_img{width:300px;height:910px}
}


@media only screen and (max-width: 420px) {
  .list_port li:first-child{padding-left:0}

  .cont_project > li,
  .list_work > li{margin-bottom: 70px;filter: grayscale(25%)}

  /* mise */
  .mise .proto_img{width:300px;height:205px}
  .mise .proto_extra .proto_img{height:340px}
}


@media only screen and (max-width: 370px) {

.header{margin-bottom: 70px}

.list_navi{margin:35px 0}
.list_navi li{margin-right:15px;font-size: 17px;}
.list_navi li a{font-size: 15px;}

}