@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:300,500,700');

/* reset area */
*{margin:0;padding:0}
li{list-style: none;}
a{text-decoration: none;color: inherit}

body, button{font-family: 'Noto Serif KR', serif;font-size: 12px;color:#7f7f7f}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}

/* design area */
html{scroll-behavior: smooth;}
body{width:100%;text-align: center;background-color:#f1edec}
.wraper{min-width:950px;width:95%;margin: 0 auto;background-color:#fff}
.header{padding-top:150px}
h1{margin:0 auto;width:80px;line-height: 20px;letter-spacing: 5px;}
h1 a{display:inline-block;padding-left:3px;color:#6d6e70; font-size: 11px;width: 80px; height: 65px;animation-name: title;animation-duration: 3s;animation-iteration-count: infinite;}
@keyframes title{0%{color:plum;}40%{color:#6d6e70}70%{color:burlywood;}100%{color:plum;}}


.list_port{overflow: hidden;position: relative;margin-bottom:60px}
.list_port li{float: left;text-align: left}
.list_port li:first-child{position: relative;padding-left:15px}
.list_port li:first-child::after{filter:none;content: '';position: absolute;top:30%; left:0;width:3px;height: 60%;background-color:plum}
.list_port li:last-child{position: absolute;top:0;right: 0;}


/* navi */
.list_navi{overflow: hidden;display: inline-block;margin:85px 0}
.list_navi li{float: left;margin-right:70px;letter-spacing: -1px;font-weight: 300;}
.list_navi li:last-child{margin-right:0}
.list_navi li a{position:relative;display:inline-block;font-size: 23px;transition: all .5s ease-in-out}
.list_navi li:nth-child(1) a::after{content: 'Curriculun Vitae'}
.list_navi li:nth-child(2) a::after{content: 'Projects'}
.list_navi li:nth-child(3) a::after{content: 'Personal Works'}
.list_navi li a::after{position: absolute;top:35px;left:0;}
.list_navi li:hover a{color:burlywood;transform: translateY(-35px)}


/* CV */
.cont_cv{width:900px;margin:0 auto;overflow: hidden;}
.cont_cv ul{margin-bottom: 60px;}
.cont_cv li span{position: relative;padding-left: 15px}
.cont_cv li span::before{content: '';position: absolute;top:30%; left:0;width:3px;height: 60%;background-color:plum}
.cont_cv .list_cv_first{width:27%;float: left;}
.list_cv_first li{margin-bottom: 45px;text-align: left;font-weight: 300;}
.list_cv_first li:last-child{width:100%;height:300px;background:url(./img/port.jpg) 0 0 no-repeat;background-size: cover}
.list_cv_first li span,
.list_cv_sec li span{font-weight: bold}
.list_cv_sec{width:63%;float: right}
.list_cv_sec li{margin-bottom:45px;text-align: left;line-height: 18px;font-weight: lighter}

/* project */
.project{width:900px;margin:0 auto;}
.cont_project > li{margin-bottom:60px;background-repeat: no-repeat;background-size: cover;background-position: center;border:1px solid #e4e4e4;box-sizing: border-box;filter:grayscale(100%);transition:all .45s ease-in-out}
.cont_project > li:hover{filter: none}
.cont_project > li a{display:block;width:100%;height: 100%;}
.cont_project > li:nth-child(1){width:100%;height:500px;background-image: url(./img/port.jpg)}
.cont_project > li:nth-child(2){width:100%;height:500px;background-image: url(./img/MV_login.png)}
.cont_project > li:nth-child(3){display:inline-block;float:left;width:440px;height:450px;background-image: url(./img/bitpi.png)}
.cont_project > li:nth-child(4){display:inline-block;margin-left:20px;width:440px;height:450px;background-image: url(./img/bitchain.png)}


/* works */
.work{width:900px;margin:0 auto}

.cont_work > li{margin-bottom:60px;width:100%; height:350px;background-repeat: no-repeat;background-size: cover;border:1px solid #e4e4e4;filter:grayscale(70%);box-sizing: border-box;transition:all .4s ease-in-out}
.cont_work > li:hover{filter:none}
.cont_work > li:nth-child(1){background-image: url(./img/wine.png);background-position: 0 -85px}
.cont_work > li:nth-child(2){background-image: url(./img/preseason.png);background-position: 0 -95px}
.cont_work > li:nth-child(3){background-image: url(./img/zara.png)}
.cont_work > li:nth-child(4){background-image: url(./img/port_03.jpg)}
.cont_work > li a{display:block;width:100%;height:100%;}


/* footer */
.footer{position: relative;width:55%;margin:0 auto;padding:50px 0;font-size: 10px;letter-spacing: 3px}
.footer::before{content:'';position: absolute;top:0;left:0;width:100%;height: 1px;background-color: #aaa}


/* admin */
.admin{background-color: #fff}
.admin_wraper{position:relative;margin:0 auto;padding:150px 0;width:900px;min-width: 900px;}
.admin_wraper a{display: block;position: fixed}
.admin_wraper .admin_back{margin-top:90px;top:50%;left:85px;transform: rotate(-90deg);transform-origin: 0 0;animation-name: admin;animation-duration: 3.5s;animation-iteration-count: infinite;}
@keyframes admin{0%{color:plum;}40%{color:#6d6e70}70%{color:burlywood;}100%{color:plum;}}

.admin_wraper .btn_top{display: inline-block;width:55px;height: 55px;border-radius: 30px;background-color:burlywood;color:#fff;position: fixed;bottom:80px;right: 85px;transition: all .35s ease-in-out}
.admin_wraper .admin_top{line-height: 55px;position: initial;transition:all .35s ease-in-out}
.admin_wraper .admin_top::after{content: '^';position: absolute;top:35px;left:18px;font-size: 35px}
.admin_wraper .btn_top:hover{background-color:plum}
.admin_wraper .btn_top:hover .admin_top{transform: translateY(-35px)}

.admin_wraper a i{padding-left:10px}
.admin_wraper .admin_info{text-align: left;}
.admin_wraper .admin_info li{margin-bottom: 65px}
.admin_wraper .admin_info li span{position:relative;display:block;margin-bottom:35px;padding-left:10px;font-size: 13px;}
.admin_wraper .admin_info li span::after{content:'';position: absolute;top:3px;left:0;width:3px;height: 65%;background-color:plum;}
.admin_wraper .admin_info li .admin_img{width:900px;background-repeat: no-repeat}
.admin_wraper .admin_info li:nth-child(1) .admin_img{height:210px;background-image:url(./img/admin_font.png);background-position-x: 30px}
.admin_wraper .admin_info li:nth-child(2) .admin_img{height:135px;background-image:url(./img/admin_color.png)}


.admin_wraper em{display:block;margin-bottom:85px;font-size: 23px;font-style: normal;letter-spacing: -1px}


.admin_wraper .color .color_img{width:660px;height:10px;background-image: url(./img/admin_color.png);background-size: cover}

.admin_wraper .list_admin{width:900px;}
.admin_wraper .list_admin li{margin-bottom: 65px;text-align: left}
.admin_wraper .list_admin li:last-child{margin-bottom: 0}
.admin_wraper .list_admin li .admin_img{margin-top:15px;width:100%;height:500px;background-size: cover;box-shadow:10px 10px 55px -40px rgba(0,0,0,0.75)}
.admin_wraper .list_admin li:nth-child(1) .admin_img{background-image: url(./img/MV_login.png)}
.admin_wraper .list_admin li:nth-child(2) .admin_img{background-image: url(./img/MV_main.png)}
.admin_wraper .list_admin li:nth-child(3) .admin_img{background-image: url(./img/MV_sub.png)}
.admin_wraper .list_admin li:nth-child(4) .admin_img{background-image: url(./img/MV_inquiry.png)}
.admin_wraper .list_admin li:nth-child(5) .admin_img{background-image: url(./img/MV_inquiry_detail.png)}
.admin_wraper .list_admin li:nth-child(6) .admin_img{background-image: url(./img/MV_employ.png)}
.admin_wraper .list_admin li span{position:relative;padding-left:10px;width:3px;height: 10px;}
.admin_wraper .list_admin li span::after{content: '';position: absolute;top:30%; left:0;width:3px;height: 60%;background-color:plum}


@media only screen and (max-width: 680px){

.wraper{width:100%;min-width: inherit;margin:50px 0;}
.list_port li:first-child{padding-left:10px}


/* header */
.header{padding-top:70px}
.list_navi{margin:70px 0}
.list_navi li{margin-right: 20px;}
.list_navi li a{font-size: 17px}

/* cv */
.cont_cv{width:100%;padding:0 50px;box-sizing: border-box}
.cont_cv ul{margin-bottom:0;width:100%}
.cont_cv ul li{word-break: keep-all}

.cont_cv .list_cv_first{float:none;width:100%}
.list_cv_first li{margin-bottom:35px;}
.list_cv_first li:last-child{display: none}

.list_cv_sec li{margin-bottom:35px;}



/* project */
.project{width:auto}
.project .cont_project{padding:0 10px;width:100%;box-sizing: border-box}
.project .cont_project > li{height: 300px;}
.project .cont_project > li:nth-child(3),
.project .cont_project > li:nth-child(4){width:100%;}
.project .cont_project > li:nth-child(4){margin-left:0}


/* works */
.work{width:auto}
.cont_work{padding:0 10px;}
.work .cont_work > li{height: 300px;background-position: center}

/* footer */
.footer{margin:80px auto 0}

}

@media only screen and (max-width: 440px) {
.cont_cv{padding:0 25px;}

}


@media only screen and (max-width: 370px) {

.list_navi{margin:35px 0}
.list_navi li{margin-right:15px;font-size: 17px;}
.list_navi li a{font-size: 15px;}

}