@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:500,700,800|Noto+Serif+KR:300,400,700|Nunito+Sans:400,700,800,900');

/* reset area */
*{margin:0;padding:0}
li{list-style: none;}
a{text-decoration: none;color: inherit}

html{scroll-behavior: smooth;}
body, button{font-family: 'Noto Serif KR', serif;font-size: 12px;color:#755e5e;letter-spacing:1px}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}


/*** design area ***/


/* header */
.header_wrap{width:100%;position: fixed;z-index:9999;color:#fff}
.header{display: flex;position: relative;height: 100px;transition:all .45s ease-in-out;align-items: center}
.header_active{background-color: rgba(0, 0, 0, 0.8);}

.header h1{padding-left:50px;width:50%;font-family: 'Nunito Sans', sans-serif;letter-spacing: 1px;line-height: 19px}
.header h1 a{display: block}
.header h1 p{font-size: 11px;font-weight: lighter;letter-spacing: 2px}

.header .navi{position: absolute;left:50%;margin-left:-190px}
.header .navi li{display:inline-block;margin-right:70px;}
.header .navi li:last-child{margin-right: 0}
.header .navi li a{display: block}

.header .sns{width:50%;padding-right:50px;text-align: right;font-size: 15px;}
.header .sns li{display:inline-block;margin: 0 20px;}
.header .sns li a{display: block}

/* main_section01 */
.main_section01{display: flex;align-items: center;justify-content: center;height: 100vh;text-align: center;background:url(./img/main_coffee.jpg) 0 0 no-repeat;background-size: cover;background-attachment: fixed;}
.main_section01 .main_slogan{margin-top:80px;color:#fff}
.main_section01 h2{font-size: 80px;font-family: 'EB Garamond', serif;}
.main_section01 span{font-size: 14px;letter-spacing: 2px}


/* main_section02 */
.main_section02{display:flex;height: 100vh}
.main_section02 .sec02_txtW .sec02_illu{position:absolute;top:-10px;left:270px;width:150px;height:130px;background:url(./img/bean02.png) center no-repeat ;background-size: contain;opacity: .85;}
.main_section02 .sec02_txtW .sec02_illu_02{position:absolute;top:-50px;left:-60px;width:100px;height:100px;background:url(./img/leaf_03.png) center no-repeat ;background-size: contain}
.main_section02 .sec02_txtW .sec02_illu_03{position:absolute;top:45px;left:-10px;width:320px;height:13px;background:url(./img/underline.png) center no-repeat ;background-size: contain;opacity: .65;}

.main_section02 .sec02_img{width:42.5%;height:100%;background:url(./img/3.jpg) 0 0 no-repeat;background-size: cover;}
.main_section02 .sec02_txtW{display:flex;width: 57.5%;align-items: center;justify-content: center;background-color: #f8f5f1}
.main_section02 .sec02_txt{position:relative;}
.main_section02 .sec02_txt h3{font-size: 43px;color:#85ac83;font-family: 'EB Garamond', serif;}
.main_section02 .sec02_txt p{margin-top:65px;line-height: 30px;text-align: center}


/* main_section03 */
.main_section03{height: 90vh;}
.main_section03 .sec03_tit{display:flex;padding-top:100px;width:100%;height: calc(22.5% - 100px);position: relative;;align-items: center;justify-content: center;font-family: 'EB Garamond', serif;background-color:#e3dbd1;color:#fff;font-size: 30px;}
.main_section03 .sec03_tit::after{content:'';margin-left:-100px;background:url(./img/underline.png) 0 0 no-repeat;background-size: 200px;position: absolute;bottom:20px;left:50%;width:200px;height: 10px;opacity: .75;}
.main_section03 .sec03_list{width:100%;height: 70%;position: relative;}
.main_section03 .sec03_tab{display: flex;height: 100%}
.main_section03 .sec03_tab li{width:33.33%;position:relative;cursor: pointer;;transition:all .3s ease-in-out;background-position: center;background-repeat: no-repeat;background-size: cover}
.main_section03 .sec03_tab li:hover{filter: grayscale(80%);}
.main_section03 .sec03_tab li:hover span{color:#00ff4e}
.main_section03 .sec03_tab li span{display:block;width:100%;position:absolute;top:47%;font-size:35px;font-family: 'EB Garamond', serif;color:#fff;text-align: center;transition:all .3s ease-in-out}
.main_section03 .sec03_tab li:nth-child(1){background-image:url(./img/coffee.jpg)}
.main_section03 .sec03_tab li:nth-child(2){background-image:url(./img/croissant.jpg)}
.main_section03 .sec03_tab li:nth-child(3){background-image:url(./img/mousse.jpg)}


/* sec03_pane */
.sec03_pane{height: 50vh;}
.sec03_pane div{display: none;width:100%;background-color: #fff;box-sizing: border-box;}
.sec03_pane .on{display: block;}
.sec03_pane ul{text-align: center}
.sec03_pane li{padding:2% 28%;line-height: 25px;}
.sec03_pane li strong{font-size:15px;color:#85ac83}

.sec03_pane .coffee{width:100%;overflow: hidden;}
.sec03_pane .coffee ul{width:50%;float: left;}

.sec03_pane .bakery{width:100%;}



/* main_section04 */
.main_section04{height: 100vh;display:flex;background:url(./img/4.jpg) 0 0 no-repeat;background-size:cover;background-attachment: fixed;justify-content: center;align-items: center;filter: grayscale(70%)}
.main_section04 .sec04_wrap{width:500px;height: 350px;background-color: #fff;border-radius: 2px;text-align: center}
.main_section04 .sec04_tit{margin:80px 0 35px 0;font-size: 27px;font-family: 'EB Garamond', serif;line-height: 25px;}
.main_section04 .sec04_tit span{font-size: 17px;}
.main_section04 .sec04_txt{line-height: 20px;}
.main_section04 .sec04_txt span{color:#00ff4e}
.main_section04 .sec04_txt .hours{display: block;margin-top:20px}

/* footer */
.footer{height:35px;font-size:11px;line-height: 35px;background-color: #e3dbd1;text-align: center}


@media only screen and (max-width: 850px){

.header .navi{display: none}

.main_section01{background-position: center}
.main_section01 h2{font-size: 45px}

.main_section02 .sec02_txtW{width:100%}
.main_section02 .sec02_img{display: none}

.main_section03{height: 400px;}
.main_section03 .sec03_tit{padding-top:0;height: 100px;}
.main_section03 .sec03_tab li span{font-size: 25px}

}

@media only screen and (max-width: 600px){

body{font-size: 14px}
.header h1{font-size: 24px}
.main_section01 h2{font-size: 25px;}

.main_section02 .sec02_txt h3{font-size: 23px;text-align: center}
.main_section02 .sec02_txtW .sec02_illu{width:80px;left:245px;top:-15px}
.main_section02 .sec02_txtW .sec02_illu_02{width:50px;left:5px}
.main_section02 .sec02_txtW .sec02_illu_03{width:190px;height: 15px;top:30px;left:75px;background-position: center;}


.main_section03{height: 280px;}
.main_section03 .sec03_tit{font-size: 23px}
.main_section03 .sec03_tab li span{font-size: 18px}
.sec03_pane{height: auto;padding:20px 0}
.sec03_pane .coffee ul{width:100%}
.sec03_pane li{padding:15px 10px}


.main_section04{background-position: center}
.main_section04 .sec04_wrap{width:100%}
.main_section04 .sec04_tit{font-size: 20px}
.main_section04 .sec04_tit span{font-size: 14px}

}

@media only screen and (max-width: 485px){

.header{display: block;height:130px;text-align: center}
.header h1{padding:20px 0 15px;width:100%;line-height: unset}
.header .sns{width:100%;padding-right: 0;text-align: center}
.main_section01 .main_slogan{margin:80px 15px}

.main_section02 .sec02_txtW .sec02_illu{width:0}
.main_section02 .sec02_txtW .sec02_illu_02{width:0}
.main_section02 .sec02_txt p{margin:65px 15px 0;word-break: keep-all}
}