@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:300,400,500,700&display=swap');

/* reset area */
*{margin:0;padding:0}
li{list-style: none;}
a{text-decoration: none;color: inherit}
fieldset{border:none;}

body, button{font-size: 13px;color:#5d5353;font-family: 'Playfair Display', serif;font-weight: 400;}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.on{display: none}

body{width:100%;background-color:#efefef;position: relative;}

/* menu */

.menu{position: fixed;width:100%;height:0;opacity: 0;visibility: hidden;top:0;left:0;bottom:0;right:0;background-color:gray;z-index: 99999;transition: all .4s ease-in-out}
.visible{height: 100%;opacity: 1;visibility: visible}
.menu.visible .list_navi li{animation: fadeInLeft 0.95s ease forwards}
.menu.visible .list_navi li:nth-child(1){animation-delay: .25s}
.menu.visible .list_navi li:nth-child(2){animation-delay: .35s}
.menu.visible .list_navi li:nth-child(3){animation-delay: .45s}
.menu.visible .list_navi li:nth-child(4){animation-delay: .55s}
.menu.visible .list_navi li:nth-child(5){animation-delay: .65s}
.menu .btn_x {margin:35px 0 0 55px;padding-left:25px;position: relative;font-size:17px;border: none;background-color: transparent;color:pink;cursor: pointer;letter-spacing: 5px}
.menu .btn_x::before{content:'';position:absolute;top:6px;left:0;width:14px;height: 2px;background-color: #fff;transform: rotate(45deg);transform-origin:0;transition: all .3s ease-in-out}
.menu .btn_x::after{content:'';position:absolute;top:6px;left:10px;width:14px;height: 2px;background-color: #fff;transform: rotate(135deg);transform-origin:0;transition: all .3s ease-in-out}
.menu .btn_x:hover::before{transform: none;top:11px;left:0}
.menu .btn_x:hover::after{transform: rotate(180deg);top:11px;left:14px}
.menu .list_navi{position: absolute;top:50%;left:50%;margin:-170px 0 0 -190px}
.menu .list_navi > li{position:relative;margin-bottom: 20px;font-size: 45px;transition: all .3s ease-in-out;}
.menu .list_navi > li:last-child{margin-bottom: 0}
.menu .list_navi > li:hover{color:#bc929a}
.menu .list_navi li{display: block;opacity:.15;transition:all 0.3s ease}
@keyframes fadeInLeft{
    0% {opacity: 0; transform: translateX(-50%)}
    100% {opacity: 1; transform: translateX(0)}
}


/* header */
.header{width:100%;height: 90px;z-index: 9999;transition: all .3s ease-in-out}
.header_active{position:fixed;border-bottom: 1px solid #e2dcde;background-color:#efefef}
.header .btn_menu{position:absolute;top:35px;left:55px;font-size:15px;border:none;outline: none;background-color: transparent;cursor: pointer;letter-spacing: 3px;font-weight: bold}
.header .btn_menu i{margin-right:10px;width:15px;height:15px;animation:spin 1.7s infinite linear;transform-origin:center center;}
@keyframes spin{
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.active{display: block!important}
.header .logo{margin:0 auto;padding-top:35px;width:210px;}
.header .logo a{display: block;width:100%;height: 100%;}
.header .logo img{width:100%;border: none}
.header .mypage{position: absolute;top:0;right: 55px;}
.header .mypage a{display: inline-block}
.header .mypage i{margin-left:25px;font-size: 18px;line-height: 90px}


/* main */
.wrapper{position:fixed;width:100%;height:100%;background:url(./img/main_back.png) 0 0 no-repeat;background-size:cover;overflow-x:scroll}
.main_flower{position:fixed;bottom:-70px;left:0;z-index:0;width:100%;height: 450px;background:url(./img/main_flower.png) 0 0 no-repeat;background-size: cover;pointer-events: none}
.wrap_main{width:100%;height: auto;}
.wrap_main .cont_main{position:relative;width:1250px;margin:0 auto;padding-top:150px}
.wrap_main .cont_main strong{position:relative;width:50%;text-align: center;font-size: 35px;top:175px}
.wrap_main .cont_main strong::after{content:'Eau de Pafum';position: absolute;top:-20px;left:2px;font-size: 12px}
.wrap_main .cont_main p{position:absolute;top:0;right:0;width:50%;padding:150px 50px 150px 235px;box-sizing: border-box;word-break: keep-all;font-family: 'Noto Serif KR', serif;}

.owl-carousel .owl-item div{width:265px;height:300px;background-size:contain;background-position-x:20px;margin:0 auto;background-repeat: no-repeat}
.owl-carousel .owl-item .owl-lazy{margin:0 auto;}
.owl-carousel .owl-item .main_img_01{width:200px}
.owl-carousel .owl-item .main_img_02{width:270px}
.owl-carousel .owl-item .main_img_03{width:300px}
.owl-carousel .owl-item .main_img_04{width:160px}
.owl-carousel .owl-nav button{position:absolute;top:180px;outline: none;border-top:30px solid #b5aeb0!important;border-left: 30px solid transparent!important;}
.owl-carousel .owl-nav button.owl-prev{left:-70px;transform: rotate(-135deg)}
.owl-carousel .owl-nav button.owl-next{right:-70px;transform:rotate(45deg)}

.main_drag{position: absolute;bottom:220px;left:50%;margin-left:-70px;}
.main_drag .fa-long-arrow-alt-right{position: absolute;top:4px;left:130px;}


/* brand */
.brand{position: relative;}
.wrap_brand{min-width: 1200px;padding-top:90px}

.wrap_brand .brand_annick{width:850px;margin:30px auto 150px auto;display: flex}
.wrap_brand .brand_annick .annick_img{width:510px;height: 330px;;background:url(./img/annick.png) 0 0 no-repeat;background-size: contain}
.wrap_brand .brand_annick .annick_story{display:flex;width:90%;align-items: center}
.wrap_brand .brand_annick .annick_story strong{display: block;font-size:32px;}
.wrap_brand .brand_annick .annick_story em{display: block;margin-bottom:15px;font-style: inherit;font-size: 17px;}
.wrap_brand .brand_annick .annick_story p{width:500px;font-family: 'Noto Serif KR', serif;}

.wrap_brand .brand_perfume{width:700px;margin:0 auto;padding-bottom:150px;}
.wrap_brand .brand_perfume .perfume_img{margin:0 auto;width:100%;height: 250px; background:url(./img/perfumes.png) 0 0 no-repeat;background-size: contain}
.wrap_brand .brand_perfume .perfume_story{text-align: center;}
.wrap_brand .brand_perfume .perfume_story strong{display:block;margin-bottom:15px;font-size: 32px}
.wrap_brand .brand_perfume .perfume_story p{font-family: 'Noto Serif KR', serif;}

.wrap_brand .brand_quote{width:100%;height: 120px;margin-bottom:150px;background-color:#e2dcde;line-height: 120px;text-align: center;font-size: 17px;font-family: 'Noto Serif KR', serif;}


/* perfume */
.list_perfume_ca{padding:5px 0;position: relative;text-align: left}
.list_perfume_ca::after{content: '';position: absolute;bottom:0;left:0;width:100%;height: 1px;background-color:#b5aeb0}
.list_perfume_ca li{position:relative;display: inline-block;margin-right: 45px;transition:all .25s ease-in-out;font-size: 15px}
.list_perfume_ca li:hover{color:pink}
.list_perfume_ca li:hover::after{content:'';position:absolute;bottom:-4px;left:0;width:100%;height: 3px;background-color:pink}
.list_perfume_ca li:last-child{margin-right: 0}

.wrap_perfume{width:1200px;min-width: 1200px;margin:0 auto 150px auto;padding-top:70px;text-align: center;overflow: hidden;}
.wrap_perfume .filter{width:215px;padding-top:15px;margin-top:30px;float: left;text-align: left;position: relative;}
.wrap_perfume .filter::after{content: '';position: absolute;top:0;left:0;width:100%;height: 1px;background-color:#b5aeb0}
.wrap_perfume .filter .ava{margin: 0 0 35px 15px;}
.wrap_perfume .filter strong{display: block;margin-bottom: 15px;font-size: 15px}
.wrap_perfume .filter .list_select li{transition: all .25s ease-in-out}
.wrap_perfume .filter .list_select li:first-child{margin-bottom:5px}
.wrap_perfume .filter .list_select li:hover{color:pink}
.wrap_perfume .filter .list_select li a{display: block}
.wrap_perfume .filter .scent{position: relative;padding:15px;}
.wrap_perfume .filter .scent::after{content: '';position: absolute;top:0;left:0;width:100%;height: 1px;background-color:#b5aeb0}
.wrap_perfume .filter .scent .list_check li{position: relative;margin-bottom: 10px;}
.wrap_perfume .filter .scent .list_check input{margin:2px 10px 0 0;position: absolute;width:12px;height:12px;z-index: 999;opacity: 0;cursor: pointer;}
.wrap_perfume .filter .scent .list_check input:checked ~ span::after{display: block}
.wrap_perfume .filter .scent .list_check span{width:12px;height: 12px;position: absolute;top:2px;left:0;border:1px solid #b5aeb0;background-color:#fff}
.wrap_perfume .filter .scent .list_check span::after{display:none;content: '';position:absolute;top:2px;left:2px;width:8px;height: 8px;background-color:pink;}
.wrap_perfume .filter .scent .list_check label{padding-left:25px;cursor: pointer;}

.wrap_perfume .perfume_ele{float: right;position: relative;width:900px}
.wrap_perfume .list_perfume{margin:0 -10px;overflow: hidden;}
.wrap_perfume .list_perfume li{float:left;width:33.3%;padding:30px 10px 0 10px;box-sizing: border-box;}
.wrap_perfume .list_perfume li .p_img{width:100%;height:250px;background-size: 75px;background-repeat: no-repeat;background-position: center}
.wrap_perfume .list_perfume li:nth-child(1) .p_img{background-image: url(./img/p_01.png)}
.wrap_perfume .list_perfume li:nth-child(2) .p_img{background-image: url(./img/p_02.png)}
.wrap_perfume .list_perfume li:nth-child(3) .p_img{background-image: url(./img/p_03.png)}
.wrap_perfume .list_perfume li:nth-child(4) .p_img{background-image: url(./img/p_04.png)}
.wrap_perfume .list_perfume li:nth-child(5) .p_img{background-image: url(./img/p_05.png)}
.wrap_perfume .list_perfume li:nth-child(6) .p_img{background-image: url(./img/p_06.png)}
.wrap_perfume .list_perfume li:nth-child(7) .p_img{background-image: url(./img/p_07.png)}
.wrap_perfume .list_perfume li:nth-child(8) .p_img{background-image: url(./img/p_08.png)}
.wrap_perfume .list_perfume li:nth-child(9) .p_img{background-image: url(./img/p_09.png)}
.wrap_perfume .list_perfume li a{display: block;width:100%;height: 100%;}
.wrap_perfume .list_perfume li strong{display: block}
.wrap_perfume .list_perfume li span{display: block;margin:5px 0 15px;}
.wrap_perfume .list_perfume li a{display: block;margin:0 auto;width:150px;height: 25px;color:#fff;background-color:#dacad0;transition:all .25s ease-in-out;border-radius: 1px;line-height: 25px}
.wrap_perfume .list_perfume li a:hover{background-color:#5d5353}


/* contact */
.wrap_contact{width:850px; margin:160px auto}
.contact_tit{float: left;width:40%}
.contact_tit strong{display: block;font-size: 32px;}
.contact_tit span{display: block;margin:5px 0 0 5px;font-size: 12px}
.list_contact{width:100%}
.list_contact li{margin-bottom:20px}
.contact_form label{display:inline-block;width:65px}
.contact_form input{width:85%;height:30px;padding:0 15px;border:none;background-color:transparent;border-bottom: 1px solid #b5aeb0;outline: none;box-sizing: border-box}
.contact_form select{width:85%;height:30px;padding-left:10px;margin:15px 0;background-color: transparent;cursor: pointer;outline:none;border:1px solid #b5aeb0;}
.contact_form textarea{display:inline-block;width:85%;height: 120px;padding:15px;background-color:transparent;border:1px solid #b5aeb0;resize: none;box-sizing: border-box;outline: none}
.contact_form button{float: right;margin: 25px 5px 0 0;width:135px;height: 25px;border:none;color:#fff;cursor:pointer;outline: none;background-color:#5d5353}


/* bath */
.wrap_bath .list_perfume li:nth-child(1) .p_img{background-image: url(./img/b_01.png);background-size: 125px;}
.wrap_bath .list_perfume li:nth-child(2) .p_img{background-image: url(./img/b_02.png);background-size: 125px;}
.wrap_bath .list_perfume li:nth-child(3) .p_img{background-image: url(./img/b_03.png)}
.wrap_bath .list_perfume li:nth-child(4) .p_img{background-image: url(./img/b_04.png)}
.wrap_bath .list_perfume li:nth-child(5) .p_img{background-image: url(./img/b_05.png)}
.wrap_bath .list_perfume li:nth-child(6) .p_img{background-image: url(./img/b_06.png)}
.wrap_bath .list_perfume li:nth-child(7) .p_img{background-image: url(./img/b_07.png)}
.wrap_bath .list_perfume li:nth-child(8) .p_img{background-image: url(./img/b_08.png)}
.wrap_bath .list_perfume li:nth-child(9) .p_img{background-image: url(./img/b_09.png)}


/* home */
.wrap_home .list_perfume li .p_img{background-size: 100px}
.wrap_home .list_perfume li:nth-child(1) .p_img{background-image: url(./img/h_01.png)}
.wrap_home .list_perfume li:nth-child(2) .p_img{background-image: url(./img/h_02.png)}
.wrap_home .list_perfume li:nth-child(3) .p_img{background-image: url(./img/h_03.png)}
.wrap_home .list_perfume li:nth-child(4) .p_img{background-image: url(./img/h_04.png)}
.wrap_home .list_perfume li:nth-child(5) .p_img{background-image: url(./img/h_05.png)}
.wrap_home .list_perfume li:nth-child(6) .p_img{background-image: url(./img/h_06.png)}
.wrap_home .list_perfume li:nth-child(7) .p_img{background-image: url(./img/h_07.png)}
.wrap_home .list_perfume li:nth-child(8) .p_img{background-image: url(./img/h_08.png)}


/* login */
.login{width:850px;margin:230px auto 0 auto;text-align:center;overflow: hidden;}
.login .contact_tit{text-align: left}
.login .contact_tit span{margin: 0 5px 0 0}
.list_create{float:right;margin-top:30px;text-align: right}
.list_create li{position: relative;}
.list_create li:first-child{display:inline-block;margin-bottom:3px;text-align: right}
.list_create li:hover::after{content:'';position: absolute;bottom:0;left:0;width:100%;height: 1px;background-color:#5d5353}
.list_create li span{padding-left:5px;font-weight: bold}
.list_create li a{display: block}


/* check */
.check{min-width: 1200px;}
.check table{border-spacing: 0}
.wrap_checkT{margin:95px 0}
.wrap_checkT table{width:1200px;margin:0 auto;text-align: center}
.wrap_checkT table thead th{padding:10px;border-spacing:none;border-bottom: 1px solid #b5aeb0;box-sizing: border-box;font-family: 'Noto Serif KR', serif;}
.wrap_checkT table tbody td{padding:15px 0;border-bottom:1px solid #b5aeb0;position: relative;}
.wrap_checkT table tbody td img{width:100px;}
.wrap_checkT table tbody button{width:50px;height:20px;border:none;background-color:#dacad0;font-size: 11px;color:#fff;outline: none;cursor: pointer;font-family: 'Noto Serif KR', serif;}
.wrap_checkT table tbody input{position: absolute;width:15px;height: 15px;z-index: 999;opacity:0;cursor: pointer;left:70px}
.wrap_checkT table tbody span{position: absolute;top:66px;left:71px;width:12px;height: 12px;border:1px solid #b5aeb0}
.wrap_checkT table tbody span::after{display:none;content:'';position: absolute;top:2px;left:2px;width:8px;height: 8px;background-color:pink;}
.wrap_checkT table tbody input:checked ~ span::after{display: block}
.wrap_checkT table tfoot td{padding:10px 0 0 2px;text-align: right;font-family: 'Noto Serif KR', serif;font-size: 11px}
.wrap_checkT table tfoot td:last-of-type a{margin-left:15px}
.wrap_checkT table tfoot i{padding-right:10px;}

.wrap_checkP{width:1200px;margin:0 auto 100px;position: relative;text-align: right;font-size: 15px}
.wrap_checkP table{width:450px;position:absolute;right:0;text-align: right;font-family: 'Noto Serif KR', serif;}
.wrap_checkP table tfoot td{border-top: 1px solid #b5aeb0}
.wrap_checkP table td{padding:5px}
.wrap_checkP button{margin-top:120px;width:135px;height: 25px;color:#fff;background-color:#5d5353;border:none;font-family: 'Noto Serif KR', serif;}



/* product */
.product{margin:200px 0}
.wrap_product{display:flex;width:1200px;min-width: 1200px;margin:0 auto;overflow: hidden;}
.wrap_product .product_img{width:50%;}
.wrap_product .product_img div{margin:0 auto;width:300px;height: 300px;background:url(./img/product.png) center no-repeat;background-size: contain}
.wrap_product .product_txt{display:flex;width:50%;align-items: center}
.wrap_product .product_txt strong{position:relative;display: block;font-size: 25px;}
.wrap_product .product_txt em{font-style: unset;font-size: 20px}
.wrap_product .product_txt p{position:relative;margin-top:25px;padding-top:25px;font-family: 'Noto Serif KR', serif;}
.wrap_product .product_txt p::after{content: '';position: absolute;top:0;left:0;width:100%;height: 1px;background-color:#b5aeb0}
.wrap_product .product_txt .list_product{position: relative;margin:25px 0 50px;padding-top:25px;}
.wrap_product .product_txt .list_product::after{content: '';position: absolute;top:0;left:0;width: 100%;height: 1px;background-color:#b5aeb0}
.wrap_product .product_txt .list_product li{display: inline-block;position: relative;margin-right: 25px}
.wrap_product .product_txt .list_product li:last-child{position: absolute;top:25px;right: 0;margin-right: 0}
.wrap_product .product_txt .list_product input{position: absolute;width:15px;height: 15px;z-index: 999;opacity:0;cursor: pointer;}
.wrap_product .product_txt .list_product input:checked ~ span::after{display: block}
.wrap_product .product_txt .list_product span{width:12px;height: 12px;position: absolute;top:2px;left:0;border:1px solid #b5aeb0;background-color:#fff}
.wrap_product .product_txt .list_product span::after{display: none;content: '';position: absolute;top:2px;left:2px;width:8px;height: 8px;background-color:pink;}
.wrap_product .product_txt .list_product label{padding-left: 25px;cursor: pointer}
.wrap_product .product_txt select{width:100px;height: 30px;;border: 1px solid #b5aeb0;background-color:transparent;outline: none}
.wrap_product .product_txt a{display: block;width:135px;height:25px;border:none;color:#fff;background-color:#5d5353;text-align: center;line-height: 25px}

.wrap_product02 .product_img div{background-image: url(./img/product02.png)}
.wrap_product03 .product_img div{background-image: url(./img/product03.png)}


/* footer */
.footer{width:1200px;margin:0 auto;padding-top:50px;text-align: center;position: relative;}
.footer::after{content: '';position: absolute;top:0;left:0;width:100%;height: 1px;background-color: #b5aeb0}
.footer .footer_sns{margin-bottom: 35px;}
.footer .footer_sns li{display: inline-block;margin-right: 50px;}
.footer .footer_sns li:last-child{margin-right: 0}
.footer .footer_sns li a{display: block;}
.footer .footer_sns li a i{font-size: 20px}
.footer span{font-size: 11px}