@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,400,500,700&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');


/* reset area */
*{margin:0;padding:0}
li{list-style: none;}
a{text-decoration: none;color: inherit}

body, button{font-size: 12px;color:#88744d;font-family: 'Montserrat', sans-serif;}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.on{display: none}
.item_rotate{transform: rotate(-90deg)}


/* design area */
body{text-align: center;}
.wraper{width:100%}
.txt{position: absolute;bottom:20px;right:30px;width:335px;color:#fff;border-radius: 2px;box-sizing: border-box;text-align: right}
.txt strong{display: block;margin:7px 0;font-size: 30px;letter-spacing: -2px;font-weight: 500}
.txt p{font-family: 'Noto Sans KR',sans-serif;margin-bottom:20px}
.txt a{font-family: 'Noto Sans KR',sans-serif;transition:all .2s ease-in-out}
.txt a:hover{color:brown}
button{height:20px;border:none;background-color:#e5c78b;color:#fff;border-radius:1px;cursor:pointer;transition: all .25s ease-in-out}
button:hover{background-color:brown}

/* menu */
.mobile_menu{display: none;position: fixed;top:0;left:0;right: 0;bottom: 0;background-color:#fff;z-index: 999999;}



/* sns */
.sns{position: absolute;margin-top:100px;top:50%;left:120px;transform: rotate(-90deg);transform-origin: 0}
.sns .list_sns li{position:relative;display: inline-block;margin-right: 20px;}
.sns .list_sns li::after{content:'';position: absolute;bottom:-1px;left:0;width: 100%;height: 1px;background-color:#e5c78b}
.sns .list_sns li:last-child{margin-right: 0}
.sns .list_sns li a{color:#e5c78b;font-size: 11px}

/* header */
.header{width:100%;position: fixed;z-index: 9999;background-color:#fff;}
.header_active{border-bottom:1px solid #e5c78b}
.wrap_header{display:flex;width:1200px;height:90px;margin:0 auto;align-items: center}

.wrap_header h1 img{width:80px;vertical-align: middle;border:none}
.wrap_header .navi_sub{width:50%;text-align: right;}
.wrap_header .navi_sub .fas{font-size: 14px}
.wrap_header .navi_sub .fa-sign-in-alt{padding-right: 5px}
.wrap_header .navi_sub .fa-shopping-bag{margin-left:15px}

.btn_open{display: none}

/* navi */
.navi{width:50%;}
.navi li{float: left;margin-right:25px;transition: all .25s ease-in-out}
.navi li:hover a{color:brown}
.navi li a{display: block;width:100%;height: 100%;}

/* main */
.main{padding-top:145px;min-height:calc(100vh - 90px);}
.main .main_div{position: absolute;bottom:0;right:0;width:73%;height: 70%;background-color:#f5f1e9}
.main .list_main{width:1200px;margin:0 auto}
.main .list_main li{position:relative;display:inline-block;padding:0 10px;width:480px;height:675px;}
.main .list_main li .main_img{width:100%;height:100%;background-repeat: no-repeat;background-size: cover}
.main .list_main li:nth-child(1) .main_img{background-image:url(./img/08.jpg)}
.main .list_main li:nth-child(2) .main_img{background-image:url(./img/13_1.jpg)}
.main .fa-chevron-circle-right{font-size:15px;padding-left:5px}
 

/* content_sec */
.cont_sec{width:1200px;padding:75px 0;margin:0 auto;position: relative;}
.cont_sec .content_sec_wrapper{display: flex;margin:0 auto;min-width:1024px;width: 1024px;position: relative;}
.cont_sec_wrapper .cont_img_F{margin-left:50%;width:50%;height:700px;background:url(img/07_01.jpg) 0 0 no-repeat;background-size: cover}
.cont_sec_wrapper .cont_img_F::before{content:'10 . April 2019';position:absolute;top:135px;right:-75px;transform: rotate(-90deg);transform-origin:0;font-size: 10px;color:#e5c78b}
.cont_sec_wrapper .txt{bottom:170px;left:0;color:inherit}
.cont_sec_wrapper .txt span{color:#e5c78b}
.cont_sec_wrapper .cont_sec_box .cont_sec_link .fa-chevron-circle-right{padding-left:5px}


/* content_third */
.cont_third{min-width:1500px;padding:80px 0;position: relative;}
.cont_third .list_ele{position: relative;}
.cont_third .list_ele::after{content: 'Autumn/Winter 2019';position: absolute;top:245px;left:120px;transform: rotate(-90deg);transform-origin: 0;font-size: 10px}
.cont_third .list_ele li{display:inline-block;width:230px; height: 400px;margin: 0 5px;background-size: cover;background-repeat: no-repeat;filter: grayscale(65%);transition: all .3s ease-in-out}
.cont_third .list_ele li:hover{filter: none}
.cont_third .list_ele li:nth-child(1){background-image:url(./img/ele_01.jpg)}
.cont_third .list_ele li:nth-child(2){background-image:url(./img/ele_02.jpg)}
.cont_third .list_ele li:nth-child(3){background-image:url(./img/ele_03.jpg)}
.cont_third .list_ele li:nth-child(4){background-image:url(./img/ele_04.jpg)}
.cont_third .list_ele li:nth-child(5){background-image:url(./img/ele_05.jpg)}
.cont_third .list_ele li a{display: block;width:100%;height: 100%;}
.cont_third .third_link{position: absolute;top:315px;right: 35px;transform: rotate(-90deg);transform-origin: 0}


/* fourth section */
.cont_fourth{width:1200px;margin:75px auto;position: relative;}
.cont_fourth .cont_img_B{width:43%;height:700px;background:url(img/b8.jpg) 0 0 no-repeat;background-size: cover;filter: grayscale(25%)}
.cont_fourth .txt{width:50%;bottom:70px;color:inherit}
.cont_fourth .txt span{color:#e5c78b}

.cont_fourth .list_season li{display:inline-block;margin-right: 3px; width:120px;height: 20px;line-height:20px;border-radius: 2px;background-color:#e5c78b;color:#fff;text-align: center;transition: all .25s ease-in-out}
.cont_fourth .list_season li:last-child{margin-right: 0}
.cont_fourth .list_season li:hover{background-color:brown}
.cont_fourth .list_season li:hover a{color:#fff}
.cont_fourth .list_season li a{display: block}

/* e-mail submit */
.content_submit{padding:75px 0;width:100%;text-align: center;height: auto;}
.content_submit p{margin: 50px 0 30px;}
.content_submit input{display:block;margin:50px auto 0;text-align:center;width:350px;height: 35px;background-color: transparent;border:none;border-bottom: 2px solid #88744d;outline: none}
.content_submit button{margin:25px 0 100px;width:185px;height: 25px;}
.content_submit .list_icon{overflow: hidden;display: inline-block;}
.content_submit .list_icon li{float: left;margin-right: 50px}
.content_submit .list_icon li:last-child{margin-right: 0}


/*** New in ***/
.new{margin:0 auto;padding:160px 0 100px 0;width:1200px;}
.wrap_sub{overflow: hidden;}
.wrap_sub .filter{width:25%;float: left;padding:35px 25px 25px 25px;text-align: left;box-sizing: border-box}
.wrap_sub .filter strong{display:block;margin-bottom:10px;}
.wrap_sub .filter .ava{margin:30px 0}
.wrap_sub .filter .list_select li{margin-bottom:5px;position: relative;}
.wrap_sub .filter .list_select li a{display: block;width:100%;height: 100%;transition:all .2s ease-in-out}
.wrap_sub .filter .list_select li:hover{color:brown}
.wrap_sub .filter .list_select li:last-child{margin-bottom:0}


.wrap_sub .product{width:75%;padding:0 25px 25px 25px;float: right;box-sizing: border-box}
.wrap_sub .product .sort{padding: 0 0 25px 15px;text-align: left;position: relative;overflow: hidden;}
.wrap_sub .product .sort::after{content: '';position: absolute;bottom: 0;left:0;width:100%;height: 1px;background-color:#88744d}
.wrap_sub .product .sort i{margin-right: 10px;font-size: 15px}
.wrap_sub .product .sort .search{overflow: hidden;float: right;width:380px}
.wrap_sub .product .sort .search input{width:65%;border:none;border-bottom:1px solid #88744d;outline: none;}
.wrap_sub .product .sort .search button{width:30%;float:right;}

.wrap_sub .product .list_product{overflow: hidden;margin:25px -10px}
.wrap_sub .product .list_product li{width:33.3%;margin-bottom:50px;padding:0 10px;height: 350px;background-size: cover;float: left;box-sizing: border-box;transition: all .2s ease-in-out}
.wrap_sub .product .list_product li:hover img{filter: opacity(50%)}
.wrap_sub .product .list_product li:hover span{color:brown}
.wrap_sub .product .list_product li img{width:100%;border:none;transition:all .15s ease-in-out}
.wrap_sub .product .list_product li span{transition:all .15s ease-in-out}

.wrap_sub .price .list_check li{margin-bottom:10px;position: relative;}
.wrap_sub .price .list_check li:last-child{margin-bottom:0}
.wrap_sub .price .list_check input{margin-right: 10px;position: absolute;width:19px;height:19px;z-index: 999;opacity: 0;}
.wrap_sub .price .list_check input:checked ~ span::after{display: block}
.wrap_sub .price .list_check span{width:16px;height: 16px;position: absolute;top:0;left:0;border:1px solid #88744d;border-radius: 10px;}
.wrap_sub .price .list_check span::after{display:none;content: '';position:absolute;top:3px;left:3px;width:10px;height: 10px;border-radius: 10px;background-color:#e5c78b}
.wrap_sub .price .list_check label{padding-left:30px;cursor: pointer;}



/* bed */
.bed .filter .ava{margin-top:0}


/* login */
.login{padding-top:90px}
.wrap_login{width:1200px;min-width: 1200px;margin:285px auto}
.wrap_login strong{display:block;margin-bottom:50px;font-size: 30px;font-weight: lighter;letter-spacing: -1px}
.wrap_login .list_login li{height: 50px;}
.wrap_login .list_login li label i{font-size: 16px}
.wrap_login .list_login li input{width:325px;padding:10px 30px;border:none;border-bottom: 1px solid #88744d;box-sizing: border-box;outline: none}
.wrap_login button{display:block;width:345px; margin:20px auto 60px auto;}
.wrap_login a{display: inline-block;text-decoration: underline}
.wrap_login a:hover{color:brown}
.wrap_login .account{margin-right: 35px;}

/* product */
.product{padding-top:200px;margin-bottom:150px}
.wrap_product{display:flex;width:1200px;min-width: 1200px;margin:0 auto}
.wrap_product .product_img{width:50%;overflow: hidden;}
.wrap_product .product_img .list_product_img{float: left;}
.wrap_product .product_img .list_product_img li{margin-bottom:5px;width:80px;height:100px;background-size: contain;background-repeat: no-repeat;transition: all .2s ease-in-out}
.wrap_product .product_img .list_product_img li:hover{filter: opacity(50%)}
.wrap_product .product_img .list_product_img li:nth-child(1){background-image:url(./img/productN_01.png)}
.wrap_product .product_img .list_product_img li:nth-child(2){background-image:url(./img/productN_02.png)}
.wrap_product .product_img .list_product_img li:nth-child(3){background-image:url(./img/productN_03.png)}
.wrap_product .product_img .list_product_img li a{display: block;width:100%;height: 100%;}
.wrap_product .product_img .product_detail{margin:0 auto;width:350px;height: 465px;background:url(./img/bed_01.jpg) 0 0 no-repeat;background-size: contain}

.productB .product_img .product_detail{background-image:url(./img/b_01.jpg)}
.productB .product_img .list_product_img li:nth-child(1){background-image: url(./img/productB_01.jpg)}
.productB .product_img .list_product_img li:nth-child(2){background-image: url(./img/productB_02.jpg)}
.productB .product_img .list_product_img li:nth-child(3){background-image: url(./img/productB_03.jpg)}


.productB02 .product_img .product_detail{background-image:url(./img/bath_01.jpg)}
.productB02 .product_img .list_product_img li:nth-child(1){background-image: url(./img/productB02_01.png)}
.productB02 .product_img .list_product_img li:nth-child(2){background-image: url(./img/productB02_02.jpg)}
.productB02 .product_img .list_product_img li:nth-child(3){background-image: url(./img/productB02_03.jpg)}

.productT .product_img .product_detail{background-image:url(./img/table_01.jpg)}
.productT .product_img .list_product_img li:nth-child(1){background-image: url(./img/productT_01.jpg)}
.productT .product_img .list_product_img li:nth-child(2){background-image: url(./img/productT_02.jpg)}
.productT .product_img .list_product_img li:nth-child(3){background-image: url(./img/productT_03.jpg)}

.productD .product_img .product_detail{background-image:url(./img/deco_01.jpg)}
.productD .product_img .list_product_img li:nth-child(1){background-image: url(./img/productD_01.jpg)}
.productD .product_img .list_product_img li:nth-child(2){background-image: url(./img/productD_02.jpg)}
.productD .product_img .list_product_img li:nth-child(3){background-image: url(./img/productD_03.jpg)}


.wrap_product .product_txt{display: flex;align-items: center;text-align: left}
.wrap_product .wrap_product_txt strong{font-size: 30px;font-weight: lighter;letter-spacing: -1px}
.wrap_product .wrap_product_txt em{display:block;margin-top:5px;font-style: normal;font-size: 17px;font-weight: bold}
.wrap_product .wrap_product_txt p{margin:10px 0 30px;}
.list_product li:first-child{margin-bottom: 10px}
.list_product li label{display:inline-block;width:50px}
.list_product li select,
.list_product li input{border:1px solid #88744d;height: 25px;box-sizing: border-box}
.list_product li select{width:50%}
.list_product li input{padding:0 10px;width:65px;height: 23px;}
.wrap_product .wrap_product_txt .btn_check{position:relative;overflow:hidden;margin-top:45px;}
.wrap_product .wrap_product_txt .btn_purchase{float:left;width:50%;height: 20px;background-color:#e5c78b;color:#fff;text-align: center;line-height: 20px;border-radius: 1px;transition: all .25s ease-in-out}
.wrap_product .wrap_product_txt .btn_purchase:hover{background-color:brown}
.wrap_product .wrap_product_txt .btn_basket{position: absolute;top:0;right:0;text-align: right;transition: all .3s ease-in-out}
.wrap_product .wrap_product_txt .btn_basket:hover{color:brown}
.wrap_product .wrap_product_txt a i{padding-right: 5px}


/* check */
.check{padding-top:275px;}
.wrap_check{width:1200px;min-width: 1200px;margin:0 auto}
.wrap_check table{width:100%;border-spacing: 0}
.wrap_check table thead td{border-bottom:1px solid #dedbd5;padding-bottom: 10px}
.wrap_check table tbody td{padding:10px 0;}
.wrap_check table tbody td img{width:100px;}
.wrap_check table tbody td input{padding-left:10px;width:60px;box-sizing: border-box}
.wrap_check table tbody td a{display: block}
.wrap_check table tbody td a:hover{color:brown;font-weight: bold}
.wrap_check table tfoot td{border-top:1px solid #dedbd5}

.wrap_check .check_total{overflow: hidden;margin:30px 0 85px}
.wrap_check .check_total .list_check{width:50%;float: right;text-align: right}
.wrap_check .check_total .list_check li{margin:10px 0}
.wrap_check .check_total .list_check li:nth-child(3){padding-top:20px;font-weight: bold;font-size: 17px}
.wrap_check .check_total .list_check li span{display:inline-block;width:200px;}
.wrap_check .check_total button{width:50%;}

/* footer */
.footer{margin:0 auto;padding:30px 0;width:1200px;position:relative;font-size:10px;}
.footer::before{content: '';position: absolute;top:0;left:0;width:100%;height: 1px;background-color: #dedbd5}

/* 
@media only screen and (max-width: 650px) {

.mobile_menu{display: block}
    
.wrap_header{display:block;width:100%;height:110px;position: relative}
.navi{position: absolute;top:75px;left:50%;width:auto;margin-left:-225px}
.navi li:last-child{margin-right: 0}
.wrap_header h1{width:80px;margin:0 auto;padding-top:25px;}
.wrap_header .navi_sub{position: absolute;top:40px;right: 20px;}
.sns{display: none}

.main{height: auto;min-height: auto}
.main .main_div{display: none}
.main .list_main{width:auto}
.main .list_main li{width:340px;height: 475px;}
.txt{right:15px}
} */